<extend name="template/shop_main" />

<block name="css">
</block>

<block name="script">
    <script>
    </script>
</block>

<block name="content">
    <div class="page page-current" id="collection-page">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <empty name="list">
                <span class="tip">您的妙集空空如也，点击右下角新建一个吧</span>
                <else/>
                <div>
                    <div class="content-block-title">我的妙集</div>
                    <div class="list-block media-list">
                        <ul>
                            <volist name="list" id="info">
                                <li>
                                    <a href="{:UC('Shop/collectionInfo',array('id'=>$info['id']))}" class="item-link item-content">
                                        <div class="item-media"><img src="{$info['faceImgUrl']}" width="80"></div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">{$info['name']}</div>
                                                <div class="item-after">￥15</div>
                                            </div>
                                            <div class="item-subtitle">{$info['commentnum']}评论 | {$info['likenum']}喜欢</div>
                                            <div class="item-text">{$info['intro']}</div>
                                        </div>
                                    </a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </empty>

            <a href="javascript:;" class="extra_button" id="showActionBtn"><i class="iconfont text">&#xe601;</i></a>

        </div>
    </div>
</block>
