<extend name="template/shop_main" />

<block name="css">
</block>

<block name="script">
    <script>
    </script>
</block>

<block name="content">
    <div class="page page-current" id="goodsEdit">
        <div class="content">
            <form method="post" action="{:UC('Shop/goodsEditCommit')}" id="form">
            <div class="weui_cells_title">商品名称</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text"
                               placeholder="请输入商品名称"
                               name="name" value="{$goodsDetail['name']}"
                               required minlength="2" maxlength="20">
                    </div>
                </div>
            </div>

            <div class="weui_cells_title">商品价格</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="number"
                               placeholder="请输入商品价格"
                               name="price" value="{$goodsDetail['price']}"
                               pattern="[0-9]*" required>
                    </div>
                </div>
            </div>

            <div class="weui_cells_title">商品描述</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <textarea class="weui_textarea" placeholder="请输入商品描述" rows="3"
                                  name="intro" required maxlength="200">{$goodsDetail['intro']}</textarea>
                        <div class="weui_textarea_counter">限200字</div>
                    </div>
                </div>
            </div>

            <div class="weui_cells_title">上传照片</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="weui_uploader_bd">
                            <ul class="weui_uploader_files">
                                <volist name="goodsImgInfos" id="imgInfo">
                                    <li class="weui_uploader_file" style="background-image:url('{$imgInfo.url}')">
                                        <input type="hidden" name="media_ids[]" value="{$imgInfo.id}">
                                    </li>
                                </volist>
                            </ul>
                            <div class="weui_uploader_input_wrp">
                                <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif"
                                       data-mediatype="<?php echo C('MediaType_Image');?>"
                                       data-entitytype="<?php echo C('EntityType_Goods');?>"
                                       data-entityid="{$info['id']}"
                                       id="uploadFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="id" value="{$_GET['id']}">
            <div class="weui_btn_area">
                <button type="submit" class="weui_btn weui_btn_primary" id="showTooltips">
                    <if condition="$_GET['id']">重新发布<else/>发布</if>
                </button>
            </div>

            </form>

        </div>
    </div>
</block>
