<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css?v=5">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css?v=12">

</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <div class="content">
        <div class="hd">
            <h1 class="page-title">
                一妙集
            </h1>
            <p class="page-desc">欢迎回来，xxx</p>
        </div>


        <div class="bd">
            <div class="weui_grids">
                <a href="{:UC('Shop/goods')}" class="weui_grid js_grid" data-id="button">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-shangpinguanli.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        商品
                    </p>
                </a>
                <a href="{:UC('Shop/shopDetail')}" class="weui_grid js_grid" data-id="toast">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-dianpuguanli.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        店铺
                    </p>
                </a>
                <a href="javascript:;" class="weui_grid js_grid" data-id="cell">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-ji.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        妙集
                    </p>
                </a>
                <a href="javascript:;" class="weui_grid js_grid" data-id="msg">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-renwu.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        任务
                    </p>
                </a>
                <a href="javascript:;" class="weui_grid js_grid" data-id="progress">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-jifen.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        影响
                    </p>
                </a>
                <a href="javascript:;" class="weui_grid js_grid" data-id="actionsheet">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-unie677.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        广告
                    </p>
                </a>
                <a href="javascript:;" class="weui_grid js_grid" data-id="icons">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-11guanzhufensi.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        粉丝
                    </p>
                </a>
                <a href="{:UC('Public/message')}" class="weui_grid js_grid" data-id="dialog">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-xiaoxi.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        消息
                    </p>
                </a>
                <a href="javascript:;" class="weui_grid js_grid" data-id="article">
                    <div class="weui_grid_icon">
                        <img src="__PUBLIC__/images/iconfont-shezhi.png" alt="">
                    </div>
                    <p class="weui_grid_label">
                        设置
                    </p>
                </a>
            </div>
        </div>

        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script>
    $(document).on('click','#showActionBtn', function () {
        var buttons1 = [
            {
                text: '请选择',
                label: true
            },
            {
                text: '添加商品',
                onClick: function() {
                    $.alert("你选择了“买入“");
                }
            },
            {
                text: '删除商品',
                bold: true,
                color: 'danger',
                onClick: function() {
                    $.alert("你选择了“卖出“");
                }
            }
        ];
        var buttons2 = [
            {
                text: '取消',
                bg: 'danger'
            }
        ];
        var groups = [buttons1, buttons2];
        $.actions(groups);
    });
    $.init()
</script>
</body>
</html>