<extend name="template/shop_main" />

<block name="css">
</block>

<block name="script">
    <script>
    </script>
</block>

<block name="content">
    <div class="page page-current" id="openShop">
        <div class="content">
            <div class="hd">
                <h1 class="page-title">
                    店多多
                </h1>
                <p class="page-desc">让更多本地人知道您</p>
            </div>

            <form method="post" action="{:UC('Shop/openShopCommit')}" id="form">
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">店铺</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text"
                                   placeholder="请输入您的店名"
                                   name="name"
                                   required minlength="2" maxlength="20">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label"></label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea class="weui_textarea"
                                      placeholder="请输入店铺地址"
                                      name="address"
                                      required
                                      rows="3"></textarea>
                            <div class="weui_textarea_counter"><span>0</span>/200</div>
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input"
                                   type="number"
                                   required
                                   placeholder="请输入手机">
                        </div>
                    </div>
                </div>

                <div class="weui_btn_area">
                    <button type="submit" class="weui_btn weui_btn_primary" id="showTooltips">
                        立即开店
                    </button>
                </div>
            </form>


        </div>
    </div>
</block>