<extend name="Goods/template" />

<block name="content">

    <h1 class="main-color text-center">确认订单</h1>

    <div class="inline-box">

        <if condition="$no_phone">
            <div class="panel box margin-top">
                <input class="input-box" type="tel" placeholder="为了方便配送，请填写手机号码">
            </div>
        </if>

        <div class="panel box margin-top flex" id="selectAddress">
            <div class="flex-1">点击选择配送地址</div>
            <div><i class="iconfont">&#xe60e;</i></div>
        </div>

        <div class="panel box margin-top">
            <div class="list">
                <div class="item flex">
                    <div class="flex-1">糖纸米李 × 1 份</div>
                    <div class="">￥10</div>
                </div>
                <div class="item flex">
                    <div class="flex-1">糖腌杨梅 × 1 份</div>
                    <div class="">￥10</div>
                </div>
                <div class="item flex">
                    <div class="flex-1">薏米糖水 × 1 份</div>
                    <div class="">￥10</div>
                </div>
                <div class="item flex">
                    <div class="flex-1">优惠券</div>
                    <div class="red-text">- ￥10</div>
                </div>
            </div>
            <div class="text-right" style="margin: 10px 0;">
                总计：￥20
            </div>
        </div>

        <div class="margin-top30">
            <a class="btn main-btn" href="myorderlist.html">立即支付</a>
        </div>
    </div>

</block>

<block name="script">
    <script>
        $('#selectAddress').click(function(){
            wx.openAddress({
                success : function(res){
                    console.log(res);
                },
                cancel :function(res){
                    console.log(res);
                }
            });
        });
    </script>
</block>