<extend name="Goods/template" />

<block name="content">

    <h1 class="main-color text-center">确认订单</h1>

    <div class="inline-box">

        <div class="panel box margin-top flex flex-align-center" id="selectAddress">
            <div class="flex-1" id="addressBox">
                点击选择配送地址<span class="small-text">（仅限北流市区）</span>
            </div>
            <div><i class="iconfont">&#xe60e;</i></div>
        </div>

        <div class="panel box margin-top">
            <div class="list">
                <div class="item flex">
                    <div class="flex-1">糖纸米李 × 1 份</div>
                    <div class="">￥10</div>
                </div>
                <div class="item flex">
                    <div class="flex-1">糖腌杨梅 × 1 份</div>
                    <div class="">￥10</div>
                </div>
                <div class="item flex">
                    <div class="flex-1">薏米糖水 × 1 份</div>
                    <div class="">￥10</div>
                </div>
                <div class="item flex">
                    <div class="flex-1">优惠券</div>
                    <div class="red-text">- ￥10</div>
                </div>
            </div>
            <div class="text-right" style="margin: 10px 0;">
                总计：￥20
            </div>
        </div>

        <div class="margin-top30">
            <a class="btn main-btn" href="myorderlist.html">立即支付</a>
        </div>
    </div>

</block>

<block name="script">
    <script>
        wx.config(jsConfig);
        $('#selectAddress').click(function(){
            wx.openAddress({
                success : function(res){
                    $.post("{:UC('Goods/saveAddress')}",res);
                    var address = "姓名："+res.userName+"<br>电话："+res.telNumber+"<br>地址："+res.detailInfo;
                    $('#addressBox').html(address);
                },
                cancel :function(res){
                    console.log(res);
                }
            });
        });
    </script>
</block>