<extend name="Goods/template" />

<block name="content">

    <h1 class="main-color text-center">确认订单</h1>

    <div class="inline-box">

        <div class="panel box margin-top flex flex-align-center" id="selectAddress">
            <div class="flex-1" id="addressBox">
                <if condition="$address">
                    姓名：{$address['userName']}<br>
                    电话：{$address['telNumber']}<br>
                    地址：{$address['detailInfo']}<br>
                    <else/>
                    点击选择配送地址<span class="small-text">（仅限北流市区）</span>
                </if>
            </div>
            <div><i class="iconfont">&#xe60e;</i></div>
        </div>

        <div class="panel box margin-top">
            <div class="list">
                <volist name="order_goods" id="info">
                    <div class="item flex">
                        <div class="flex-1">{$info['goods_name']} × {$info['order_amount']} 瓶</div>
                        <div class="">￥{$info['price'] * $info['order_amount']}</div>
                    </div>
                </volist>
            </div>
            <div class="text-right" style="margin: 10px 0;">
                总计：￥{$info['price'] * $info['order_amount']}
            </div>
        </div>

        <input id="order_id" value="{$order_id}" name="order_id" type="hidden">

        <div class="margin-top30">
            <a class="btn main-btn" href="javascript:;" id="payBtn">立即支付</a>
        </div>
    </div>



</block>

<block name="script">
    <script type="text/javascript">
        //调用微信JS api 支付
        function wechatPay(payConfig){
            function jsApiCall()
            {
                WeixinJSBridge.invoke(
                        'getBrandWCPayRequest',
                        payConfig,
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    if(res.err_msg == "get_brand_wcpay_request：ok" ){
                        alert('支付成功');
                        setTimeout(function(){
                            window.location.href = "{:UC('Goods/orderdetail',array('id'=>$order_id))}";
                        },1000);
                    }else{
                        alert('您取消支付了');
                    }
                    //alert(res.err_code+res.err_desc+res.err_msg);

                }
            );
            }

            function callpay()
            {
                if (typeof WeixinJSBridge == "undefined"){
                    if( document.addEventListener ){
                        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                    }else if (document.attachEvent){
                        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                    }
                }else{
                    jsApiCall();
                }
            }

            callpay();
        }

        function showLoading(){
            var node = '<span class="loading"><img src="__PUBLIC__/images/loadding.gif"></span>';
            $('body').append(node);
        }

        function hideLoading(){
            $('.loading').remove();
        }

    </script>


    <script>
        wx.config(jsConfig);
        $('#selectAddress').click(function(){
            showLoading();
            wx.openAddress({
                success : function(res){
                    $.post("{:UC('Goods/saveAddress')}",res);
                    var address = "姓名："+res.userName+"<br>电话："+res.telNumber+"<br>地址："+res.detailInfo;
                    $('#addressBox').html(address);
                    hideLoading()
                },
                cancel :function(res){
                    console.log(res);
                    hideLoading();
                }
            });
        });

        $('#payBtn').click(function(){
            var orderId = $('#order_id').val();
            showLoading();
            $.post("{:UC('Goods/prePay')}",{orderId:orderId},function(res){
                hideLoading();
                wechatPay(res);
            },'json');
        });
    </script>
</block>