<extend name="template/temp" />
<block name="content">
    <div class="page" id="about">
        <div class="content native-scroll">
            <div class="article">
                <div class="hd">
                    <h1 class="page_title">关于我们</h1>
                </div>
                <div class="bd">
                    <article class="weui_article">
                        <section>
                            <section>
                                <h3>我们是互联网</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </section>
                            <section>
                                <h3>我们想改变小城市</h3>
                                <p>
                                    说明大小城市在移动互联网方面的差距
                                    说明我们有能力改变这种情况

                                    要求语言平实，引人共鸣。通过说明大小城市在移动互联网方面的差距，突出小城市的互联网设施的落后和欠缺，
                                    最后推出我们改造小城市互联网设施的意图。


                                    在大城市生活的时候，我们能时时刻刻感受到移动互联网带来的便利。
                                    通过手机，我们能在如此拥挤，庞大的大城市中找到最好吃的餐馆。
                                    通过手机，我们能在
                                    想吃东西的时候，我们总能知道方圆几公里内最好吃的餐馆。
                                    想去游玩的时候，想去找工作的时候……只要我们拿起手机，就可以了解到最丰富，最合适，最新鲜的信息。
                                    而这一切在小城市里都是没有的……
                                </p>
                            </section>
                            <section>
                                <h3>我们的联系方式</h3>
                                <p>

                                </p>
                            </section>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</block>