<extend name="template/temp" />
<block name="content">
    <div class="page" id="about">
        <div class="content native-scroll">
            <div class="article">
                <div class="hd">
                    <h1 class="page_title">关于我们</h1>
                </div>
                <div class="bd">
                    <article class="weui_article">
                        <section>
                            <section>
                                <h3>我们是互联网</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </section>
                            <section>
                                <h3>我们想改变小城市</h3>
                                <p>
                                    在大城市生活的时候，我们能时时刻刻感受到手机互联网带来的便利。
                                    当我们工作到饥肠辘辘的时候，打开手机就可以看到整个城市的各类美食，经过挑选、支付后，不出10分钟美餐就送到了身边。
                                    周末如果打算出游，我们能在前一天晚上通过手机获取到景点的路线和出游攻略，然后手机支付几张门票，便可以躺在床上期待明天的旅程。
                                    寻找一份更好的工作、住处，也不算是一件费劲的事情，手机里的“赶集网”、“58同城”等各类软件就有了大量信息等我们来看。
                                    而在小城市里，这一切都还欠缺……
                                    小城市的科技发展步伐似乎总是慢大城市一步。不过，我们想试着改变这一切。
                                    我们想要把小城市的各类信息，通过微信，比如商店里的特惠信息
                                </p>
                            </section>
                            <section>
                                <h3>我们的联系方式</h3>
                                <p>

                                </p>
                            </section>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</block>