<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css?v=4">

</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <div class="content margin-top">
            <div class="weui_cells weui_cells_access">
                <div class="weui_panel_hd"><span class="tip">您还没有收到信息</span></div>
                <a class="weui_cell" href="{:UC('Public/messageDetail')}">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>欢迎使用我们的微信号</p>
                    </div>
                    <div class="weui_cell_ft green-text">未读</div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>我的小店今天总共有收获了500访问量，30个赞。</p>
                    </div>
                    <div class="weui_cell_ft">已读</div>
                </a>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script>$.init()</script>
</body>
</html>