
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>店多多</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/SUI-Mobile/dist/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css?v={$rannum}">
</head>
<body>
<section class="gs-content-wrap">

    <div class="" style="height: 100%;">

        <div class="db-logo">
            店多多
        </div>
        <div style="text-align: center;">
            <p style="margin: 10px 0 5px 0; font-size: 14px; color:#ffffff;">微信扫一扫</p>
            <img id="ewm" src="__PUBLIC__/images/qrcode_for_gh_da1a09ea4b6d_258.jpg" style="width: 200px;">
            <p style="margin: 10px 0 5px 0; font-size: 16px; color:#ffffff;">长按二维码识别进入店多多</p>
        </div>
    </div>

</section>

</body>
</html>