<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>操作成功</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/weui.min.css">
</head>

<body>

<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">{$msgTitle}</h2>
        <p class="weui_msg_desc">{$message}</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="{$jumpUrl}" class="weui_btn weui_btn_primary">确定</a>
        </p>
    </div>
</div>



</body>
</html>