<extend name="template/temp" />
<block name="content">
    <div class="page" id="wechatOpen">
        <div class="content native-scroll">
            <div class="msgpage msgpage-info">
                <div class="msgpage-icon">
                    <i class="iconfont">&#xe60b;</i>
                </div>
                <div class="msgpage-detail">
                    如果在微信打开本页面，效果会更好哦。
                </div>
                <div class="msgpage-btns">
                    <div class="content-block">
                        <p><a href="javascript:;" class="button button-success button-fill button-big" id="showMaskBtn">用微信打开</a></p>
                    </div>
                </div>
            </div>

            <div class="mask hide">
                <div class="text-nomal-box">
                    <img src="__PUBLIC__/images/jiantou.png" class="share-jiantou"><br>
                    <p class="text-center">只需要三个步骤哦：</p><br>
                    1.点击右上角的分享。<br>
                    2.选择微信，然后分享给一个最要好的朋友。<br>
                    3.最后打开微信，找到刚刚分享的信息就可以点击打开啦。<br>
                </div>
            </div>
        </div>
    </div>
</block>