<extend name="template/temp" />
<block name="content">
    <div class="page" id="detail">
        <div class="content native-scroll">
            <div class="yspanel">
                <div class="banner-header-imgbox">
                    <if condition="($info['imglist']) AND ($info['imglist'][0])">
                        <img src="{$info['imglist'][0]}"
                             class="showimglist"
                             data-imglist="<?php echo implode(',',$info['imglist']);?>"
                             alt="" style="width: 100%">
                        <else/>
                        <div class="swiper-slide swiper-slide-active">
                            <div class="swiper-slide-center-text">>_<<br>谁给我一张靓照</div>
                            <img src="__PUBLIC__/images/nopic.png" alt="" style="width: 100%">
                        </div>
                    </if>

                </div>
                <div class="yspanel-content-box">
                    <div class="flex flex-align-center yspanel-titlebox">
                        <h3 class="text-center flex-1">{$info['name']}</h3>
                        <if condition="($info['price']) and ($info['price'] neq 0)">
                        <div class="pricebox orange-text">￥{$info['price']}+</div>
                        </if>
                    </div>
                    <div class="flex">
                        <a class="btnitem ysbtn flex-1" href="#" id="shareBtn">
                            <i class="iconfont">&#xe609;</i>分享
                        </a>
                        <if condition="$info['isLike']">
                            <a class="btnitem ysbtn flex-1 hover"data-id="{$info['id']}">
                                <i class="iconfont">&#xe608;</i> <span>{$info['likecount']}</span>
                            </a>
                            <else/>
                            <a class="btnitem ysbtn flex-1" id="likebtn" data-id="{$info['id']}">
                                <i class="iconfont">&#xe608;</i> <span>{$info['likecount']}</span>
                            </a>
                        </if>

                    </div>
                    <div class="margin-top"></div>
                    <table class="ystable table table-bordered">
                        <volist name="info.other_info" id="other">
                            <tr>
                                <td style="text-align: center;">{$other['name']}</td>
                                <td>{$other['val']}</td>
                            </tr>
                        </volist>
                        <tr>
                            <td colspan="2">
                                {$info['address']}
                                <if condition="$info['lat'] and $info['lng']">
                                    <a href="javascript:;"
                                       class="pull-right lookmap"
                                       data-lat="{$info['lat']}"
                                       data-lng="{$info['lng']}"
                                       data-name="{$info['name']}"
                                       data-address="{$info['address']}">
                                        查看地图
                                    </a>
                                </if>
                            </td>
                        </tr>
                    </table>
                    <div class="margin-top" style="padding: 10px 0;">
                        {$info['intro']}
                    </div>
                </div>

            </div>

            <div class="fixbtnbox">
                <a class="fixbtn" href="tel:{$info['phone']}"><i class="iconfont">&#xe606;</i></a>
            </div>

            <div class="mask hide">
                <div class="text-nomal-box text-center">
                    <img src="__PUBLIC__/images/jiantou.png" class="share-jiantou"><br>
                    点击右上角的菜单<br>
                    选择分享朋友圈或者分享给朋友
                </div>
            </div>

            <p class="gray-text1 text-center small-text margin-top30">
                如果这店铺的内容有遗漏或者错误，请<a href="#" id="telmebtn">告诉我们</a>吧
            </p>
        </div>
    </div>
</block>