<extend name="template/temp" />
<block name="content">
    <div class="page" id="showcase">
        <div class="content native-scroll">
            <p class="gray-text1 text-center">北流便民电话</p>
            <volist name="list" id="info">
                <a class="yspanel margin-top30" href="{:UC('Miaoji/phoneCate',array('id'=>$info['id']))}">
                    <div class="yspanel-image-box">
                        <div class="yspanel-image-textbox">- <span class="text">{$info['name']}</span> -</div>
                        <img class="yspanel-image-image" src="{$info['imglist']}">
                    </div>
                </a>
            </volist>

            <p class="gray-text1 text-center small-text margin-top30">
                如果您知道更多便民电话，那就<a href="{:UC('Miaoji/editSuggest',array('cid',9))}" id="telmebtn">告诉我们</a>吧
            </p>

        </div>
    </div>
</block>