<extend name="template/temp" />
<block name="content">
    <div class="page" id="showcaseDetail">
        <div class="content native-scroll">
            <div class="margin-top"></div>
            <volist name="list" id="info">
                <div class="yspanel margin-top30">
                    <div class="yspanel-titlebox flex">
                        <div class="flex-1 text-center">
                            {$info['name']}
                        </div>
                    </div>
                    <div class="yspanel-content-box">
                        <div class="yspanel-ysbtnlist flex">
                            <div class="flex-1">
                                <a class="ysbtn ysbtn-big hover" href="tel:{$info['phone']}"><i class="iconfont">&#xe606;</i> <span>{$info['likecount']}</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="yspanel-footer gray-text1 flex">
                        <div class="flex-1">没有定位数据</div>
                        <a class="aa" href="javascript:;">提供定位</a>
                    </div>
                </div>
            </volist>

            <p class="gray-text1 text-center small-text margin-top30">
                如果这店铺的内容有遗漏或者错误，请<a href="#" id="telmebtn">告诉我们</a>吧
            </p>
        </div>
    </div>
</block>
