<extend name="template/temp" />
<block name="content">
    <div class="page" id="showcase">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <p class="gray-text1 text-center">优质特色商品</p>
            <a class="yspanel margin-top30" href="{:UC('Goods/mygoods')}" external>
                <div class="yspanel-image-box">
                    <div class="yspanel-image-textbox">- <span class="text">苹果醋</span> -</div>
                    <img class="lazy yspanel-image-image" data-original="http://media.dianduoduo.top/collect/suoye2.jpg">
                </div>
                <div class="yspanel-content-box2">
                    经过一天劳累的您，要是旁边有一杯香浓的苹果醋，不仅能消除一天的疲劳，还能增强体质，养颜美容。
                </div>
            </a>
            <a class="yspanel margin-top30" href="{:UC('Goods/mygoods2')}" external>
                <div class="yspanel-image-box">
                    <div class="yspanel-image-textbox">- <span class="text">红枣醋</span> -</div>
                    <img class="lazy yspanel-image-image" data-original="http://media.dianduoduo.top/collect/hongzao1.jpg">
                </div>
                <div class="yspanel-content-box2">
                    红枣醋兼备了红枣和醋的益处。红枣补气养血，醋的优点也特别多，具有很强的杀菌能力,增强肝脏机能,促进新陈代谢。
                </div>
            </a>

            <p class="gray-text1 text-center small-text margin-top30">

            </p>
        </div>
    </div>
</block>