<extend name="template/temp" />
<block name="content">
    <div class="page">
        <div class="content native-scroll">
            <div class="margin-top"></div>
            <volist name="list" id="info">
                <div class="yspanel margin-top30">
                    <a href="{:UC('Miaoji/detail',array('id'=>$info['id']))}">
                        <div class="yspanel-titlebox flex">
                            <div class="flex-1">
                                {$info['name']}
                            </div>
                            <div class="yspanel-pricebox gray-text1">
                                ￥{$info['price']}
                            </div>
                        </div>
                        <div class="yspanel-image-box">
                            <img class="yspanel-image-image" src="{$info['imglist']}">
                        </div>
                    </a>
                    <div class="yspanel-content-box">
                        <div class="yspanel-ysbtnlist flex">
                            <div class="flex-1">
                                <a class="ysbtn" href="tel:{$info['phone']}"><i class="iconfont">&#xe606;</i>电话</a>
                            </div>
                            <div class="flex-1">
                                <span class="ysbtn hover"><i class="iconfont">&#xe608;</i> 5</span>
                            </div>
                        </div>

                    </div>
                    <div class="yspanel-footer gray-text1 flex">
                        <div class="flex-1">{$info['address']}</div>
                        <a class="lookmap" href="#">查看地图</a>
                    </div>
                </div>
            </volist>

            <include file="./Application/Phone/View/Miaoji/footer.html" />
        </div>
    </div>
</block>
