<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>一妙集</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/SUI-Mobile/dist/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css?v=7">


</head>
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <p class="gray-text1 text-center">北流最全妙集</p>
            <a class="yspanel" href="{:UC('Miaoji/showcaseDetail')}">
                <div class="yspanel-image-box">
                    <div class="yspanel-image-textbox">- <span class="text">最美草莓园</span> -</div>
                    <img class="yspanel-image-image" src="__PUBLIC__/images/caomei.jpg">
                </div>
                <div class="yspanel-content-box">
                    <div class="yspanel-content-box">
                        一个个聚集美味鲜果的圣地，一个个亲自采摘乐趣的果园，大人娱乐的胜地，孩纸们游玩的乐园，采草莓走起！！
                    </div>
                </div>
            </a>
            <a class="yspanel margin-top30" href="{:UC('Miaoji/showcaseDetail')}">
                <div class="yspanel-image-box">
                    <div class="yspanel-image-textbox">- <span class="text">百香果园</span> -</div>
                    <img class="yspanel-image-image" src="__PUBLIC__/images/baixiangguo.jpg">
                </div>
                <div class="yspanel-content-box">
                    <div class="yspanel-content-box">
                        百香果是一种很受欢迎的果类。正直秋高气爽，总爱摘几个百香果加点蜂蜜配合着秋风的凉爽，感觉既润喉又清爽。
                    </div>
                </div>
            </a>
            <p class="gray-text1 text-center small-text margin-top30">如果您知道更多好玩的，那就<a href="#">告诉我们</a>吧</p>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src="__PUBLIC__/js/app.js?v=8" charset='utf-8'></script>
</body>
</html>