<extend name="template/temp" />
<block name="content">
    <div class="page" id="zhaoPin">
        <div class="content native-scroll infinite-scroll">
            <div class="message-header flex">
                <div class="item flex-1 <if condition="$_GET['type'] eq 1">hover</if>"><a href="{:UC('Miaoji/zhaoPin',array('type'=>1))}">看招聘</a></div>
                <div class="item flex-1 <if condition="$_GET['type'] eq 2">hover</if>"><a href="{:UC('Miaoji/zhaoPin',array('type'=>2))}">看转让</a></div>
                <div class="item flex-1 <if condition="$_GET['type'] eq 3">hover</if>"><a href="{:UC('Miaoji/zhaoPin',array('type'=>3))}">看租赁</a></div>
                <div class="item flex-1 <if condition="$_GET['type'] eq 4">hover</if>"><a href="{:UC('Miaoji/zhaoPin',array('type'=>4))}">看其他</a></div>
            </div>

            <div style="margin-top: 60px;"></div>
            <div id="msg_content" style="padding-bottom: 40px;">
                <volist name="list" id="info">
                    <div class="yspanel border margin-top30" href="{:UC('Miaoji/showcaseDispatch',array('id'=>$info['id']))}">
                        <h3 class="text-center green-text" style="padding: 20px 0;">{$info['title']}</h3>
                        <div class="yspanel-content-box2">
                            {$info['mcontent']}
                            <div class="text-center" style="padding: 30px 0;">
                                <a class="ysbtn orange-btn" href="tel:{$info['phone']}"><i class="iconfont">&#xe606;</i>电话联系</a>
                                <if condition="$info['isLike']">
                                    <a class="ysbtn blue-btn" data-msgid="{$info['id']}" href="#">
                                        已收藏
                                    </a>
                                    <else/>
                                    <a class="ysbtn blue-btn collbtn" data-msgid="{$info['id']}" href="#">
                                        <i class="iconfont">&#xe608;</i>收藏信息
                                    </a>
                                </if>

                            </div>
                            <div class="small-text gray-text text-center">电话联系时，请说明是店多多看到的。</div>
                        </div>
                    </div>
                </volist>


            </div>

            <?php
                 if(count($list)>=20){
            ?>
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
            <?php
                }
            ?>

        </div>
    </div>

    <script type="text/html" id="tpl_msgitem">
        <div class="yspanel border margin-top30" href="#">
            <h3 class="text-center green-text" style="padding: 20px 0;">${title}</h3>
            <div class="yspanel-content-box2">
                ${mcontent}
                <div class="text-center" style="padding: 30px 0;">
                    <a class="ysbtn orange-btn" href="tel:${phone}"><i class="iconfont">&#xe606;</i>电话联系</a>
                    <a class="ysbtn blue-btn collbtn" data-msgid="${id}"><i class="iconfont">&#xe608;</i>收藏信息</a>
                </div>
                <div class="small-text gray-text text-center">电话联系时，请说明是店多多看到的。</div>
            </div>
        </div>
    </script>
</block>