<extend name="template/temp" />
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css">
</block>

<block name="content">
    <div class="page" id="zhaoPin">
        <div class="content native-scroll pull-to-refresh-content infinite-scroll">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="bar">
                <div class="searchbar">
                    <a class="searchbar-cancel">取消</a>
                    <div class="search-input">
                        <label class="icon icon-search" for="search"></label>
                        <input type="search" id='search' placeholder='输入您想要找的关键词...'/>
                    </div>
                </div>
            </div>
            <div class="search-content-box">
                <div class="swiper-container" data-space-between='10'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="search-row flex">
                                <div class="flex-1 item search-item" data-key="">全部</div>
                                <div class="flex-1 item search-item" data-key="转让">转让</div>
                                <div class="flex-1 item search-item" data-key="招聘诚聘招工">招聘</div>
                            </div>
                            <div class="search-row flex">
                                <div class="flex-1 item search-item" data-key="衣服">衣服</div>
                                <div class="flex-1 item search-item" data-key="打印">打印</div>
                                <div class="flex-1 item search-item" data-key="装修维修">装修</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="search-row flex">
                                <div class="flex-1 item search-item" data-key="二手车 二手房">二手车房</div>
                                <div class="flex-1 item search-item" data-key="租房">租房</div>
                                <div class="flex-1 item search-item" data-key="搬家">搬家</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div id="msg_content" style="padding-bottom: 40px;">
                <volist name="list" id="info">
                    <div class="yspanel border margin-top30">
                        <h3 class="text-center green-text" style="padding-top: 10px;">{$info['title']}</h3>
                        <div class="yspanel-content-box2">
                            <div class="mcontent text-line5">{$info['mcontent']}</div>
                            <a href="javascript:;" class="morebtn"><i class="iconfont">&#xe610;</i>查看全文</a>
                            <div class="piclistbox">
                                <volist name="info.pics" id="url">
                                    <div class="item" style="background-image:url('{$url}')"></div>
                                </volist>
                            </div>
                            <div class="text-center" style="padding: 30px 0;">
                                <a class="ysbtn orange-btn" href="tel:{$info['phone']}"><i class="iconfont">&#xe606;</i>电话联系</a>
                                <if condition="$info['isLike']">
                                    <a class="ysbtn blue-btn" data-msgid="{$info['id']}" href="#">
                                        已收藏
                                    </a>
                                    <else/>
                                    <a class="ysbtn blue-btn collbtn" data-msgid="{$info['id']}" href="#">
                                        <i class="iconfont">&#xe608;</i>收藏信息
                                    </a>
                                </if>
                            </div>
                            <div class="small-text gray-text text-center">电话联系时，请说明是店多多看到的。</div>
                        </div>
                    </div>
                </volist>
            </div>

            <div class="fixbtnbox">
                <a class="rangBtn external animated infinite jello" href="{:UC('User/addAdMsg')}">发布<br>广告</a>
            </div>


            <?php
                 if(count($list)>=C('PageSize')){
            ?>
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
            <?php
                }
            ?>

        </div>
    </div>

    <script type="text/html" id="tpl_msgitem2">
        {{each data as value i}}
        <div class="yspanel border margin-top30">
            <h3 class="text-center green-text" style="padding: 20px 0;">{{value.title}}</h3>
            <div class="yspanel-content-box2">
                <div class="text-line5 mcontent">
                    {{value.mcontent}}
                </div>
                <a href="javascript:;" class="morebtn"><i class="iconfont">&#xe610;</i>查看全文</a>
                <div class="piclistbox">
                    {{each value.pics as url i}}
                    <div class="item" style="background-image:url('{{url}}')"></div>
                    {{/each}}
                </div>
                <div class="text-center" style="padding: 30px 0;">
                    <a class="ysbtn orange-btn" href="tel:{{value.phone}}"><i class="iconfont">&#xe606;</i>电话联系</a>
                    <a class="ysbtn blue-btn collbtn" data-msgid="{{value.id}}"><i class="iconfont">&#xe608;</i>收藏信息</a>
                </div>
                <div class="small-text gray-text text-center">电话联系时，请说明是店多多看到的。</div>
            </div>
        </div>
        {{/each}}
    </script>


</block>