<extend name="template/temp" />
<block name="content">
    <div class="page" id="testShare">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="yspanel">
                分享测试页
            </div>

            <script>
                var shareIntro = "{$share.intro}";
                var shareTitle = "{$share.title}";
                var shareImg = "{$share.shareImg}";
            </script>


        </div>

    </div>
</block>