body{background: #eee;font-size: 14px;}
*{font-family: "微软雅黑";}
*,
*:before,
*:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


.margin-top{margin-top: 10px;}
.margin-top30{margin-top: 30px;}
.margin-left{margin-left: 10px;}
.margin-right{margin-right: 10px;}
.margin-bottom{margin-bottom: 10px;}
.margin-left30{margin-left: 30px;}
.margin-left{margin-left: 10px;}
.pull-left{float: left !important;}
.pull-right{float: right !important;}
.fiximg{width: 100%;}
.hide{display: none !important;}
.clear{clear: both;}
.block{display: block;}

.text-line3{ overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 3;}
.text-line2{ overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
.text-line{ overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1;}



.gray-text1{color:#aaa;}
.small-text{font-size: 12px;}

.orange-text{color: orange;}
.green-text{color: #0BB20C;}
.gray-text{color: #cccccc;}

.iconfont{font-family:"iconfont";font-style:normal;}
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1460772863_0033567.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1460772863_0033567.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1460772863_0033567.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1460772863_0033567.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1460772863_0033567.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.flex{
    /* 设置弹性布局 */
    display:-webkit-box;/* android 2.1-3.0, ios 3.2-4.3 */
    display:-webkit-flex;/* Chrome 21+ */
    display:-ms-flexbox;/* WP IE 10 */
    display:flex;/* android 4.4 */
}
.flex-direction-column{
    /* 设置弹性布局的方向，子元素按照在源文档中声明的顺序从上到下显示 */
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-1{
    /* 子元素自动占据剩余的空间 */
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}
.flex-pack-center{
    /* 水平布局下的子元素 水平居中 */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-align-center{
    /* 水平布局下的子元素 垂直居中 */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-pack-justify{
    /* 水平布局下的子元素 2端对齐 */
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.msgpage{padding-top: 35px;}
.msgpage .msgpage-icon{font-size: 50px; text-align: center; padding: 35px;}
.msgpage-info{ color: #ff6600;}
.msgpage-detail{padding: 15px;text-align: center;color: #333333;}

.mask{position: fixed;z-index: 50;width: 100%;height: 100%;background:rgba(0,0,0,0.8);background:#000\9;top:0;left:0;filter:alpha(opacity=20)\9;}
.mask .text-nomal-box{overflow: scroll;position: absolute;bottom: 80px; top: 80px;font-size: 14px;font-weight: normal;color: #fff;padding: 30px;width: 100%;}
.mask .mask-close{position: fixed;right: 10px;top: 10px;display: block;}
.share-jiantou{position: fixed;right: 20px;top: 20px;}

.yspanel{display: block;background: #fff;}
a.yspanel,.yspanel > a{color: #333333;}
.yspanel-image-box{position: relative;max-height: 200px;overflow: hidden;}
.yspanel-image-image{width: 100%;}
.yspanel-image-textbox{position: absolute;z-index: 20;top: 50%;left: 50%;width: 200px;margin-top: -15px;margin-left: -100px;color: #fff;font-size: 20px;text-align: center;}
.yspanel-image-textbox > .text{text-shadow:1px 1px 1px #666;display: inline-block;}
.yspanel-content-box{padding: 0 10px;margin: 10px 0;}
.yspanel-content-box2{padding: 10px;}
.yspanel-titlebox{padding: 10px;font-size: 18px;}
.yspanel-ysbtnlist{text-align: center;font-size: 18px;padding: 10px 0;}
.ysbtn{border:solid 1px #aaa;padding: 5px 20px;border-radius: 50px; color: #666;}
.ysbtn-big{font-size: 36px;}
.ysbtn.hover{color: #fff;background: orange;border: none;}
.yspanel-footer{border-top: solid 1px #dddddd;padding: 10px;}
.yspanel-bigimage-textbox{position: relative;display: block;}
.yspanel-image-countbox{position: absolute;top: 15px;right: 15px;color: #fff;}


.left-time-box{background: #eee;padding: 10px;text-align: center;}
.left-time-box .label{color: #aaa;position: absolute;margin-left: -80px;}

.btnitem{text-align: center;}
a.btnitem{display: block;}
.table {
    border-collapse: collapse !important;
    width: 100%;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
    padding: 5px;
}

.error{border: 1px solid red;}

.realpicbox{position: absolute;right: 0;bottom: 0;}
.realpicbox img{width: 64px;}

.branch-box{padding: 15px 0;}
.branch-box h3,.branch-box p{text-align: center;}

.swiper-slide-center-text{position: absolute;top:50%;left: 50%;color: #fff;font-size: 28px;width: 200px;line-height: 50px;margin-top: -25px;margin-left: -100px;text-align: center;text-shadow: 1px 1px 1px #666;}
.fixbtnbox{position: fixed;left: 20px;bottom: 20px;}
.fixbtn{display: block;width:50px;height: 50px;background:rgba(0,0,0,0.6);border-radius: 80px;text-align: center;line-height: 45px;color: #fff;font-size: 24px;}

.gs-content-wrap{background: #ec4949;}
.gs-content-wrap .db-logo{font-size: 36px;text-align: center;padding: 40px 0;color: #fff;}

.activity-title-box .chashi{text-align: right;}

.activity-lefttime-box{margin-top: 15px;text-align: center;font-size: 16px;font-weight: bolder;}
.activity-lefttime-box .label{}
.activity-lefttime-box .countdownbox{color: #990073;}

.activity-btngroup{margin-top: 15px;}
.activity-btn{display: block;width: 100%;padding: 10px;text-align: center;border-radius: 5px;color: #fff;}
.activity-btn.share{background: #ea7500;}
.activity-btn.like{background: orange;}

.activity-intro{margin-top: 15px;color: #666666;}
.activity-goodslist-box{margin-top: 15px;border-top: 2px solid #aaa;}
.activity-goods-box{border-bottom: 1px solid #dddddd;padding: 10px 0;}
.activity-goods-img{width: 120px;height:150px;margin-right: 10px;}
.activity-goods-infobox .price{background: #eee;padding: 10px;margin-top: 5px;}
.activity-goods-infobox .price .price-value{color: #990073;}
.activity-goods-infobox .intro{margin-top: 5px;}