body{background: #eee;padding-bottom: 10px;font-size: 14px;}
*{font-family: "微软雅黑";}
*,
*:before,
*:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
a{color: #333;text-decoration: none;}
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1455852249_2696238.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1455852249_2696238.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1455852249_2696238.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1455852249_2696238.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1455852249_2696238.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont{font-family:"iconfont"; font-size:16px;font-style:normal;}

.margin-top{margin-top: 10px;}
.margin-top30{margin-top: 30px;}
.margin-left{margin-left: 10px;}
.margin-right{margin-right: 10px;}
.margin-bottom{margin-bottom: 10px;}
.margin-left30{margin-left: 30px;}
.margin-left{margin-left: 10px;}
.pull-left{float: left !important;}
.pull-right{float: right !important;}
.fiximg{width: 100%;}
.hide{display: none !important;}
.clear{clear: both;}
.block{display: block;}

.flex{
    /* 设置弹性布局 */
    display:-webkit-box;/* android 2.1-3.0, ios 3.2-4.3 */
    display:-webkit-flex;/* Chrome 21+ */
    display:-ms-flexbox;/* WP IE 10 */
    display:flex;/* android 4.4 */
}
.flex-direction-column{
    /* 设置弹性布局的方向，子元素按照在源文档中声明的顺序从上到下显示 */
    -webkit-box-orient: vertical;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-flex-direction: column;/* Chrome 21+ */
    -ms-flex-direction: column;/* WP IE 10 */
    flex-direction: column;/* android 4.4 */
}
.flex-1{
    /* 子元素自动占据剩余的空间 */
    -webkit-box-flex:1;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-flex:1;/* Chrome 21+ */
    -ms-flex:1;/* WP IE 10 */
    flex:1;/* android 4.4 */
}
.flex-pack-center{
    /* 水平布局下的子元素 水平居中 */
    -webkit-box-pack: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: center;/* Chrome 21+ */
    -ms-flex-pack: center;/* WP IE 10 */
    justify-content: center;/* android 4.4 */
}
.flex-align-center{
    /* 水平布局下的子元素 垂直居中 */
    -webkit-box-align: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-align-items: center;/* Chrome 21+ */
    -ms-flex-align: center;/* WP IE 10 */
    align-items: center;/* android 4.4 */
}
.flex-pack-justify{
    /* 水平布局下的子元素 2端对齐 */
    -webkit-box-pack: justify;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: space-between;/* Chrome 21+ */
    -ms-flex-pack: justify;/* WP IE 10 */
    justify-content: space-between;/* android 4.4 */
}

.panel{padding: 10px;background: #fff;}

.btn-block{display: block;width: 80%;padding: 10px;background: red;border:none;margin: 0 auto;border-radius: 5px; color: #fff;text-align: center;}
.btn-inline-block{display: inline-block;width: 100px;padding: 10px;background: red;border:none;margin: 0 auto;border-radius: 5px; color: #fff;text-align: center;}

.text-align{vertical-align: middle;}

.list{}
.list .item{border-bottom: solid 1px #ccc;padding: 10px 0;overflow: hidden;}
.item-info{vertical-align: middle;}
.item-info > h3{margin: 0;}
.item-img{width: 80px;height: 80px;margin-right: 10px;border: 1px solid #eee;vertical-align: middle;}
.item-icon-forward{vertical-align: middle;}

.list.commonlist{}
.list.commonlist > .item{display: block;padding: 10px;}

.list .item.table-item{display: table-row;margin-top: 10px;}
.list .item.table-item > .item-img{display: table-cell;}
.list .item.table-item > .item-info{display: table-cell;vertical-align: middle;width: 100%;}
.list .item.table-item > .item-icon-forward{display: table-cell;}


.mask{position: fixed;width: 100%;height: 100%;background:rgba(0,0,0,0.8);background:#000\9;top:0;left:0;filter:alpha(opacity=20)\9;}

.footer-menu{background: #fff;}
.footer-menu .footer-menu-item{display: block;width: 25%;float: left;text-align: center;color: #666666;padding: 10px 0;}
.footer-menu .footer-menu-item.hover{color:red;}

.topnavbar{position: fixed;top:0;left: 0;width: 100%;padding: 11px 0;background: #04be02;z-index: 5;}
.topnavbar .backbtn{color: #fff;padding: 0 10px;display: inline-block;vertical-align: middle;}
.topnavbar .pagetitle{text-align: center;vertical-align: middle;color: #fff;font-weight: bolder;}
.topnavbar .rightbtn{color: #fff;padding: 0 10px;display: inline-block;vertical-align: middle;}

.searchbtn{font-size: 12px;background: #fff;color: #aaa;padding: 10px 15px;font-weight: lighter;}

.adbox{}
.adbox-item{display: block;}
.adbox-item img{width: 100%;}
.main-container{margin: 47px 0;}

.index-cate{padding: 10px 0;}
.index-cate-item{float: left;padding: 10px;width: 25%;text-align: center;display: inline-block;}
.index-cate-item i{color: red;}

.box{padding-top:10px; }
.box > h3{padding:0 10px 10px 10px;color: #aaa;border-bottom: solid 1px #eee;}
.box > h3.title:before{content: "\007c";display: inline-block;color: #04be02;margin-right: 5px;}
.box > h3 .morebtn{float: right;font-size: 12px;font-weight: lighter;}
.box > h3 i{color: red;}
.box > .content{padding: 5px 0;}

.bannerbox{width: 100%;}
.banneritem{width: 100%;display: block;}
.banneritem img{width: 100%;}
.bannerbox .banner-info{position: absolute;right: 10px;margin-top: -30px; color: #eee;background:rgba(0,0,0,0.5);padding: 2px 5px;}
.bannerbox .banner-info i{vertical-align: baseline;margin-left: 5px;}

.boxcontent{width: 80%;margin: 0 auto;}

.detail-bannerbox{background:rgba(0,0,0,0.8);background:#000\9;}
.detail-bannerbox-content{padding: 20px;}
.detail-bannerbox-img{float: left;width: 100px;height:100px;}
.detail-bannerbox-info{height:100px;color: #fff;position: relative;margin-left: 120px;padding-top: 10px;}
.detail-bannerbox-info > h3{margin-top: 0;margin-bottom: 10px;}
.detail-bannerbox-author{display: block;position: absolute;color: #fff;bottom: 10px;}
.detail-bannerbox-author i{font-size: 10px;}
.detail-bannerbox-author img{width: 30px;vertical-align: middle;border-radius: 15px;margin-right: 5px;}
.detail-bannerbox-btns{}
.detail-bannerbox-btn{display: block;float: left;width: 33.33%;text-align: center;color: #fff;margin-bottom: 10px;margin-top: -10px;}
.detail-bannerbox-btn:last-child{border: none;}

.foldbox-morebtn{text-align: center;display: block;font-size: 20px;color: #666;line-height: 20px;}

.group-good-price{vertical-align: middle;}
.group-good-price strong{color: #04be02;}
.detail-pricebox{padding: 10px;background: #fff;text-align: right;}

.footer{position: fixed;bottom: 0;left: 0;width: 100%;border-top: solid 1px #ccc;z-index: 5;}

.blur {
    -webkit-filter: blur(20px); /* Chrome, Opera */
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);

}

.groupshowbox{width: 100%;height: 100%;position: fixed;z-index: 6;background:rgba(0,0,0,0.9);background:#000\9;top: 0;padding-top: 100px;}
.bg{position: fixed;width: 100%;height: 100%;z-index: -1;}
.groupshow-item{}
.groupshowcontainer{width:100%;height: 100%;}
.groupshowpic{width: 200px;margin: 0 auto;display: block;}
.groupshow-title{text-align: center;padding:0 20px;color: #fff;}
.groupshow-text{padding: 20px;color: #fff;}
.groupshow-close{color: #eee;position: absolute;right: 15px;top: 15px;z-index: 7;font-size: 16px;}

.goodsfooter{background: #fff;text-align: right;}
.goodsfooter-item{float:left;display: block;background: #ffbe00;color: #fff;padding: 5px 15px;width: 20%;margin-left: 1px;text-align: center;}
.goodsfooter-owner{float: left;background: #fff;padding: 5px 5px;text-align: center;width: 39%;color: #aaa;}
.goodsfooter-owner strong{color: #04be02;}
.goodszan{position: absolute;right: 10px;top:20px; z-index: 5;padding: 5px 10px; background:rgba(0,0,0,0.4);background:#000\9;color: #fff;}
.goodszan i{margin-right: 5px;}

.goodsdetail-box h3{color: red;text-align: center;}
.goodstext{text-align: center;}
.goodstext strong{font-size: 18px;color: seagreen;}

.goodsdetail-shopdetail{}
.goodsdetail-icon{border-left: 1px solid #eee;line-height: 60px;color: #04be02;padding:0 20px;}
.goodsdetail-shopdetail > p,.goodsdetail-shopdetail > h3{margin: 5px;}

.star{color:#04be02; vertical-align: top;}

.commentbox{margin-top: 15px;border-bottom: solid 1px #ccc;}
.comment-author{}
.comment-author-head{width: 50px;height: 50px;border-radius: 25px;float: left;margin-right: 10px;}
.comment-author-info{padding-top: 2px;}
.comment-author-info p{margin: 5px;}
.comment-author-info .date{color: #666;}
.commentbox-content{margin-top: 15px;padding-bottom: 10px;}

.shopdetail-address{display: block;width: 100%;padding: 10px;border-top: solid 1px #ccc;}

.searchtextbox{border: none;padding: 5px;width: 200px;margin: 0 auto; color: #ccc;}
.hotsearchbox{padding: 10px 10px;}
.hotsearchlist{}
.hotsearchitem{width: 32%;padding: 5px 0; text-align: center;background: #fff;display: inline-block;margin-bottom: 5px;}

.userinfobox{background:#04be02;padding-top: 5px;}
.userinfobox-img{margin: 0 auto;display: block;width: 80px;height: 80px;border-radius: 40px;}
.userinfobox-scorebox{padding: 0 10px;color: #eee;margin-top: 5px;text-align: center;}
.userinfobox-btns{background:rgba(0,0,0,0.4);background:#000\9;margin-top: 10px;}
.userinfobox-btnitem{color: #eee;text-align: center;display: block;padding: 5px 0;font-size: 12px;border-right: solid 1px #aaa;}
.userinfobox-btnitem:last-child{border-right: none;}

.task-list{}
.task-list > .item{padding: 10px;}
.text-score{color: orange; margin-right: 10px;display: inline-block;}
.text-status{color: #009900;display: inline-block;}
.text-status.disable{color: #666;}

.shortbox{display: block;position: absolute;right: 10px; top: 50px;font-size: 12px;color: #fff;background:rgba(0,0,0,0.4);background:#000\9;padding: 5px 10px;}
.shortbox i{font-size: 12px;}

.commentboxinput{width: 100%;font-size: 16px; padding: 10px 5px;display: block;}
.topare{position: absolute;top: 50px;z-index: 5;width: 100%;}