<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css?v=12">

</head>
<body>
<div class="page-group">
    <div class="page page-current" id="collection-info">
        <div class="content">
            <div class="swiper-container swiper-container-horizontal" data-space-between="10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-active" style="width: 320px; margin-right: 10px;"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg" alt="" style="width: 100%"></div>
                    <div class="swiper-slide swiper-slide-next" style="width: 320px; margin-right: 10px;"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg" alt="" style="width: 100%"></div>
                    <div class="swiper-slide" style="width: 320px; margin-right: 10px;"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg" alt="" style="width: 100%"></div>
                </div>
                <div class="swiper-pagination"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-center" style="width: 100%;">何玲三角米粽</div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="green-text big-text">
                                        <small class="gray-text small-text">市面价：</small>
                                        ￥50
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer no-border">
                        <a href="#" class="link">收藏(30)</a>
                        <a href="#" class="link">想买(30)</a>
                    </div>
                </div>
            </div>
            <div class="content-block-title">描述</div>
            <div class="card">
                <div class="card-content">
                    <div class="card-content-inner">这是一个用纯文本的简单卡片。但卡片可以包含自己的页头，页脚，列表视图，图像，和里面的任何元素。</div>
                </div>
            </div>

            <div class="content-block-title">商家信息</div>
            <div class="card">
                <div class="card-content">
                    <div class="list-block media-list inset">
                        <ul>
                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">东门口何玲米粽店</div>
                                        </div>
                                        <div class="item-subtitle">十字步行街往西门口方向右边摊位</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer"><a href="#" class="link">点击查看地图</a></div>
            </div>


            <div class="content-block-title">评论(50)<a href="#" class="fr">写评论</a></div>
            <div class="card facebook-card list-block">
                <div class="card-header no-border">
                    <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
                    <div class="facebook-name">夜声</div>
                    <div class="facebook-date">今天09:01</div>
                </div>
                <div class="card-content" style="margin-top: -15px;">
                    <div class="card-content-inner">
                        吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。
                        <div class="comment-box flex" style="background: #eeeeee;">
                            <img src="http://192.168.23.105/pingtai/Public/images/head.jpg" class="comment-box-head">
                            <div class="comment-box-infobox flex-1">
                                <h3 class="comment-box-name">夜声<a href="#" class="comment-box-replybtn">回复TA</a></h3>
                                <span class="comment-box-time">今天15:30 </span>
                                <div class="comment-box-content">
                                    那里的牙医比较呢？
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer no-border">
                    <a href="#" class="link">回复</a>
                    <a href="#" class="link">赞</a>
                </div>
            </div>
            <div class="card facebook-card list-block">
                <div class="card-header no-border">
                    <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
                    <div class="facebook-name">夜声</div>
                    <div class="facebook-date">今天09:01</div>
                </div>
                <div class="card-content" style="margin-top: -15px;">
                    <div class="card-content-inner">
                        吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。
                        <div class="comment-box flex" style="background: #eeeeee;">
                            <img src="http://192.168.23.105/pingtai/Public/images/head.jpg" class="comment-box-head">
                            <div class="comment-box-infobox flex-1">
                                <h3 class="comment-box-name">夜声<a href="#" class="comment-box-replybtn">回复TA</a></h3>
                                <span class="comment-box-time">今天15:30 </span>
                                <div class="comment-box-content">
                                    那里的牙医比较呢？
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer no-border">
                    <a href="#" class="link">回复</a>
                    <a href="#" class="link">赞</a>
                </div>
            </div>


            <div style="height: 50px;"></div>
            <div class="fix-bottom row no-gutter">
                <div class="col-100">
                    <a href="#" class="button button-big button-fill button-warning">联系店主</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script type='text/javascript' src="__PUBLIC__/js/main.js" charset='utf-8'></script>

</body>
</html>