<extend name="template/main" />

<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/css/swiper.min.css">
    <style>
        .swiper-pagination-bullet-active{background: #04be02;}
    </style>
</block>

<block name="script">
    <script src="__PUBLIC__/js/swiper.min.js"></script>
    <script>
        var ad = new Swiper('#adbox', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            autoplay: 2500
        });
        var cate = new Swiper('#cate', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });
    </script>
</block>

<block name="content">
    <div class="topnavbar flex flex-align-center">
        <a href="javascript:" class="backbtn" onclick="window.history.back();">
            北流
        </a>
        <div class="pagetitle flex-1"><a class="searchbtn" href="{:UC('Index/search')}"><i class="iconfont">&#xe601;</i>搜索商品，找单，店铺</a></div>
        <a href="#" class="rightbtn">
            <i class="iconfont">&#xe619;</i>
        </a>
    </div>

    <div class="main-container">
        <!-- 首页广告 start -->
        <div class="adbox swiper-container" id="adbox">
            <div class="swiper-wrapper">
                <a href="#" class="adbox-item swiper-slide"><img src="__PUBLIC__/images/banner.jpg"/></a>
                <a href="#" class="adbox-item swiper-slide"><img src="__PUBLIC__/images/banner.jpg"/></a>
            </div>
        </div>
        <!-- 首页广告 end -->

        <!-- 首页分类 start -->
        <div class="index-cate panel swiper-container" id="cate">
            <div class="swiper-wrapper">
                <div class="swiper-slide index-cate-page">
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                </div>
                <div class="swiper-slide index-cate-page">
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                    <a class="index-cate-item" href="#">
                        <i class="iconfont">&#xe601;</i><br>
                        逛街
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- 首页分类 end -->

        <div class="margin-top"></div>
        <!-- 推荐列表 start -->
        <div class="box panel">
            <h3><i class="iconfont">&#xe617;</i>推荐找单<a href="#" class="morebtn">更多</a></h3>
            <div class="list">
                <a class="item flex flex-align-center" href="{:UC('Index/groupinfo')}">
                    <img src="__PUBLIC__/images/head.jpg" class="item-img">
                    <div class="item-info flex-1">
                        <h3>新春大红包</h3>
                        <p class="desc">新年快到了，你的红包准备好了吗？送长辈送好友送孩子，每种红包都是不一样的，点击了解详情吧。</p>
                    </div>
                </a>
                <a class="item flex flex-align-center" href="{:UC('Index/groupinfo')}">
                    <img src="__PUBLIC__/images/head.jpg" class="item-img">
                    <div class="item-info flex-1">
                        <h3>新春大红包</h3>
                        <p class="desc">新年快到了，你的红包准备好了吗？送长辈送好友送孩子，每种红包都是不一样的，点击了解详情吧。</p>
                    </div>
                </a>
                <a class="item flex flex-align-center" href="{:UC('Index/groupinfo')}">
                    <img src="__PUBLIC__/images/head.jpg" class="item-img">
                    <div class="item-info flex-1">
                        <h3>新春大红包</h3>
                        <p class="desc">新年快到了，你的红包准备好了吗？送长辈送好友送孩子，每种红包都是不一样的，点击了解详情吧。</p>
                    </div>
                </a>
                <a class="item flex flex-align-center" href="{:UC('Index/groupinfo')}">
                    <img src="__PUBLIC__/images/head.jpg" class="item-img">
                    <div class="item-info flex-1">
                        <h3>新春大红包</h3>
                        <p class="desc">新年快到了，你的红包准备好了吗？送长辈送好友送孩子，每种红包都是不一样的，点击了解详情吧。</p>
                    </div>
                </a>
                <a class="item flex flex-align-center" href="{:UC('Index/groupinfo')}">
                    <img src="__PUBLIC__/images/head.jpg" class="item-img">
                    <div class="item-info flex-1">
                        <h3>新春大红包</h3>
                        <p class="desc">新年快到了，你的红包准备好了吗？送长辈送好友送孩子，每种红包都是不一样的，点击了解详情吧。</p>
                    </div>
                </a>

            </div>

        </div>

        <!-- 推荐列表 end -->


        <!-- footer start -->
        <div class="footer footer-menu">
            <a class="footer-menu-item hover" href="#"><i class="iconfont">&#xe609;</i><br>首页</a>
            <a class="footer-menu-item" href="#"><i class="iconfont">&#xe611;</i><br>排行榜</a>
            <a class="footer-menu-item" href="#"><i class="iconfont">&#xe600;</i><br>发布</a>
            <a class="footer-menu-item" href="{:UC('User/index')}"><i class="iconfont">&#xe60e;</i><br>个人中心</a>
        </div>
        <!-- footer end -->


        <!-- demo start -->
        <!-- demo end -->

    </div>


</block>
