<extend name="template/main" />

<block name="css">
</block>

<block name="content">
  <div class="page page-current" id="PublishGoodsList">
    <div class="content native-scroll pull-to-refresh-content">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="mainmenu">
            <a href="javascript:;" onclick="history.back();" class="item-menu">导购咨询</a>
            <a href="{:UC('Index/publishGoodsList')}" class="item-menu current">最新宝贝</a>
        </div>
        <div class="list-block cards-list">
            <ul>
                <volist name="list" id="info">
                    <li>
                        <!-- 妙集 -->
                        <if condition="$info['collection'] eq 1">
                            <div class="card facebook-card list-block">
                                <a class="item-link" href="{:UC('Index/groupinfo')}">
                                    <div class="card-header no-border">
                                        <h3 class="card-title text-line2">{$info['name']}<span class="fr green-text" style="font-size: 0.6rem;">包含5个宝贝</span></h3>
                                        <div class="card-header-desc">
                                            <span class="gray-text">by </span> <span class="blue-text">{$info['userInfo']['nickname']}</span>
                                            <span class="fr gray-text">{$info['mtime']|formatDate}</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="" style="padding: 5px">
                                            {$info['intro']}
                                        </div>
                                        <div class="card-pic">
                                            <img src="{$info['faceImgUrl']['url']}">
                                        </div>
                                    </div>
                                </a>

                                <div class="card-footer no-border">
                                    <a href="#" class="link">喜欢({$info['likeNum']})</a>
                                    <a href="#" class="link">评论({$info['commentNum']})</a>
                                </div>
                            </div>

                            <else/>
                            <!-- 商品 -->
                            <div class="card facebook-card list-block">
                                <a class="item-link" href="{:UC('Index/goodsdetail',array('id'=>$info['id']))}">
                                    <div class="card-header no-border">
                                        <h3 class="card-title text-line2">{$info['name']}</h3>
                                        <div class="card-header-desc">
                                            <span class="gray-text">by </span> <span class="blue-text">{$info['userInfo']['nickname']}</span>
                                            <span class="fr gray-text">{$info['mtime']|formatDate}</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="" style="padding: 5px">
                                            {$info['intro']}
                                        </div>
                                        <div class="card-pic">
                                            <img src="{$info['goodsfirstimg']}">
                                        </div>
                                    </div>
                                </a>

                                <div class="card-footer no-border">
                                    <a href="#" class="link">喜欢({$info['likeNum']})</a>
                                    <a href="#" class="link">评论({$info['commentNum']})</a>
                                </div>
                            </div>
                        </if>

                    </li>
                </volist>
            </ul>
        </div>


        <div style="height: 50px;"></div>
    </div>
  </div>
</block>
