<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css?v=51">

</head>
<body>
<div class="page-group">
    <div class="page page-current" id="collection-page">
        <div class="content">
            <div class="content native-scroll">

                <div class="card facebook-card list-block">
                    <div class="card-header no-border">
                        <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
                        <div class="facebook-name">小生有理</div>
                        <div class="facebook-date">今天09:01 <span class="fr green-text" style="font-size: 0.5rem;">暂未推荐</span></div>
                    </div>
                    <div class="card-content">
                        <div class="card-text">
                            请问这些东西哪里有卖？
                        </div>
                        <div class="card-pic">
                            <img src="http://192.168.23.105/pingtai/Public/images/head.jpg" width="100%" style="margin-top: 5px;">
                            <img src="http://192.168.23.105/pingtai/Public/images/head.jpg" width="100%" style="margin-top: 5px;">
                        </div>
                    </div>

                </div>


                <div class="content-block-title">推荐ta的宝贝</div>
                <div class="list-block cards-list">
                    <ul>
                        <li class="card">
                            <a class="card-content block" href="#">
                                <div class="card-content-inner">
                                    <div class="card-mymedea flex">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80" height="80" style="margin-right: 10px;">
                                        <div class="card-mymedea-infobox flex-1">
                                            <div class="card-mymedea-infobox-title text-line2">秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐</div>
                                            <div class="card-mymedea-infobox-other small-text">by 夜声<span class="fr red-text big-text">￥15</span></div>
                                            <div class="card-mymedea-infobox-other small-text">50赞 | 10收藏</div>
                                        </div>
                                    </div>
                                    <div class="comment-box flex" style="background: #eeeeee; margin-bottom: 10px;">
                                        <img src="__PUBLIC__/images/head.jpg" class="comment-box-head">
                                        <div class="comment-box-infobox flex-1">
                                            <h3 class="comment-box-name">夜声<a href="#" class="comment-box-replybtn">回复TA</a></h3>
                                            <span class="comment-box-time">今天15:30 </span>
                                            <div class="comment-box-content">
                                                那里的牙医比较呢？
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card-footer" style="margin-top: -15px;">
                                <a href="#" class="link">想买</a>
                                <a href="#" class="link">设为首选</a>
                            </div>
                        </li>
                        <li class="card">
                            <a class="card-content block" href="#">
                                <div class="card-content-inner">
                                    <div class="card-mymedea flex">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80" height="80" style="margin-right: 10px;">
                                        <div class="card-mymedea-infobox flex-1">
                                            <div class="card-mymedea-infobox-title text-line2">秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐秋香螺丝粉套餐</div>
                                            <div class="card-mymedea-infobox-other small-text">by 夜声<span class="fr red-text big-text">￥15</span></div>
                                            <div class="card-mymedea-infobox-other small-text">50赞 | 10收藏</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card-footer" style="margin-top: -15px;">
                                <a href="#" class="link">想买</a>
                                <a href="#" class="link">设为首选</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="content-block-title">评论</div>
                <div class="card facebook-card list-block">
                    <div class="card-header no-border">
                        <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
                        <div class="facebook-name">夜声</div>
                        <div class="facebook-date">今天09:01</div>
                    </div>
                    <div class="card-content" style="margin-top: -15px;">
                        <div class="card-content-inner">
                            吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。吃牙疼药最好，还要去牙科。
                            <div class="comment-box flex" style="background: #eeeeee;">
                                <img src="__PUBLIC__/images/head.jpg" class="comment-box-head">
                                <div class="comment-box-infobox flex-1">
                                    <h3 class="comment-box-name">夜声<a href="#" class="comment-box-replybtn">回复TA</a></h3>
                                    <span class="comment-box-time">今天15:30 </span>
                                    <div class="comment-box-content">
                                        那里的牙医比较呢？
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer no-border">
                        <a href="#" class="link">评论</a>
                        <a href="#" class="link">赞</a>
                    </div>
                </div>
                <div style="height: 70px;width: 100%;"></div>
            </div>

            <div class="fix-bottom row no-gutter">
                <div class="col-50">
                    <a href="#" class="button button-big button-fill button-warning">评论</a>
                </div>
                <div class="col-50">
                    <a href="#" class="button button-big button-fill button-success">推荐</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src="__PUBLIC__/js/main.js" charset='utf-8'></script>

</body>
</html>