<extend name="template/main" />

<block name="css">
</block>

<block name="script">
</block>

<block name="content">
    <div class="content native-scroll">
        <div class="bar">
            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id="search" placeholder="输入关键字...">
                </div>
            </div>
        </div>

        <div class="hotsearchbox box">
            <h3 class="title">热门搜索</h3>
            <div class="hotsearchlist">
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
                <a href="#" class="hotsearchitem">烤鱼</a>
            </div>
        </div>

    </div>

</block>