<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css?v=51">

</head>
<body>
<div class="page-group">
    <div class="page page-current" id="collection-page">
        <div class="content native-scroll">
            <div class="content-block-title">简单列表</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <div style="width: 44px;text-align: center;background: red;height: 44px;line-height: 44px;color: #fff;">1</div>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</div>
                                </div>
                                <div class="item-subtitle">
                                    <span class="small-text gray-text">影响力:</span>
                                    5000
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">标题</div>
                                </div>
                                <div class="item-subtitle">子标题</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">标题</div>
                                </div>
                                <div class="item-subtitle">子标题</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">标题</div>
                                </div>
                                <div class="item-subtitle">子标题</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">标题</div>
                                </div>
                                <div class="item-subtitle">子标题</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">标题</div>
                                </div>
                                <div class="item-subtitle">子标题</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src="__PUBLIC__/js/main.js" charset='utf-8'></script>

</body>
</html>