<extend name="template/temp" />
<block name="content">
    <div class="page" id="uploadForm">
        <header class="bar bar-nav">
            <h1 class='title'>表单</h1>
        </header>
        <div class="content native-scroll">
            <form method="post" action="">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">地址</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="地址" name="url" value="http://localhost:9200/app/">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">方法</div>
                                    <div class="item-input">
                                        <select name="method">
                                            <option value="get">get</option>
                                            <option value="post">post</option>
                                            <option value="put">put</option>
                                            <option value="delete">delete</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="align-top">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-comment"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">参数</div>
                                    <div class="item-input">
                                        <textarea name="params">{$info['params']}</textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <div class="row">
                        <div class="col-100"><button type="submit" class="button button-big button-fill button-success" id="submitBtn">提交</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>