<extend name="template/temp" />
<block name="content">
    <div class="page" id="detail">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>

            <div class="hd">
                <h1 class="page-title">如何玩转新版店多多</h1>
            </div>
            <div class="bd">
                <article class="weui_article">
                    在大家的支持和意见下，店多多服务号界面和功能上已经有发生了翻天覆地的变化。

                    我们每天会向您推送北流最好的咨询，店多多每一天的发展情况，各大商家优惠券等等信息，北流市区的商家情况尽在您的掌握之中。
                    当然，如果您觉得暂时不需要我们的推送服务，在店多多中回复“Q”，即可取消订阅。
                </article>
            </div>
        </div>
    </div>
</block>
