<extend name="template/main" />

<block name="css">
</block>

<block name="content">
    <div class="page page-current" id="IndexPublishNeed">
        {$tplBar}
        <div class="content">
            <div class="userinfobox">
                <img src="__PUBLIC__/images/head.jpg" class="userinfobox-img">
                <div class="userinfobox-scorebox ">
                    <h3>影响力:55664分</h3>
                </div>
            </div>

            <div class="content-block-title">每日影响力</div>
            <div class="list-block inset" style="margin-bottom: 10px;">
                <ul>
                    <li class="item-content">
                        <div class="item-media red-text">+  10</div>
                        <div class="item-inner">
                            <div class="item-title">
                                每天访问 1/5
                            </div>
                            <span class="small-text green-text">未完成</span>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media red-text">+20</div>
                        <div class="item-inner">
                            <div class="item-title">
                                每天访问 1/5
                            </div>
                            <span class="small-text green-text">未完成</span>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media red-text">+15</div>
                        <div class="item-inner">
                            <div class="item-title">
                                每天访问 1/5
                            </div>
                            <span class="small-text green-text">未完成</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="list-block">
                        <ul>
                            <li>
                                <a href="{:UC('Index/topbar')}" class="item-link item-content">
                                    <div class="item-media"><i class="icon icon-f7"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">影响力排行榜</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="list-block">
                        <ul>
                            <li>
                                <a href="{:UC('User/mycollection')}" class="item-link item-content">
                                    <div class="item-media"><i class="icon icon-f7"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">我的妙集</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{:UC('User/mylike')}" class="item-link item-content">
                                    <div class="item-media"><i class="icon icon-f7"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">喜欢的商品</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{:UC('User/mycomment')}" class="item-link item-content">
                                    <div class="item-media"><i class="icon icon-f7"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">我的评论</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{:UC('User/myinfo')}" class="item-link item-content">
                                    <div class="item-media"><i class="icon icon-f7"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">我的资料</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{:UC('Public/message')}" class="item-link item-content">
                                    <div class="item-media"><i class="icon icon-f7"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">攻略帮助</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bg-tip-text">
                本公众号由北流市业翔技术开发部提供<br>
                <a href="#">商务合作</a> | <a href="#">意见反馈</a>
            </div>

            <div style="height: 70px;width: 100%;"></div>
        </div>
    </div>

</block>