<extend name="template/temp" />
<block name="content">
    <div class="page" id="activityInfo">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="yspanel margin-top">
                <div class="yspanel-line flex flex-align-center">
                    <img src="__PUBLIC__/images/share2.jpg" style="width: 60px;">
                    <div class="flex-1" style="margin-left: 15px;">
                        <h3>夜声</h3>
                        <div class="gray-text1">欢迎回到店多多</div>
                    </div>
                </div>
            </div>

            <div class="yspanel margin-top">
                <a class="yspanel-line block" href="{:UC('User/couponUser')}">
                    我的优惠券
                    <div style="float: right"> &gt </div>
                </a>
                <a class="yspanel-line block" href="{:UC('User/myGoods')}">
                    我喜欢的商品
                    <div style="float: right"> &gt </div>
                </a>
                <a class="yspanel-line block" href="{:UC('User/myLikeShop')}">
                    我喜欢的店铺
                    <div style="float: right"> &gt </div>
                </a>
            </div>

            <p class="gray-text1 text-center small-text margin-top30">
                店多多，汇聚您身边的优惠 | <a href="{:UC('User/objection')}" external>意见反馈</a>
            </p>
        </div>

    </div>
</block>