<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css?v=4">

</head>
<body>
<div class="page-group">
    <div class="page page-current" id="collection-page">
        <div class="content">
            <!--<span class="tip">您的妙集空空如也，点击右下角新建一个吧</span>-->
            <div class="content native-scroll">
                <div class="content-block-title">我的评论</div>
                <div class="card demo-card-header-pic">
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">你评论了 <a href="#">秋香螺丝粉</a></p>
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        50赞
                        <a href="#" class="link">删除</a>
                    </div>
                </div>
                <div class="card demo-card-header-pic">
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">你评论了 <a href="#">秋香螺丝粉</a></p>
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        50赞
                        <a href="#" class="link">删除</a>
                    </div>
                </div>
                <div class="card demo-card-header-pic">
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">你评论了 <a href="#">秋香螺丝粉</a></p>
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容此处是内容...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        50赞
                        <a href="#" class="link">删除</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src="__PUBLIC__/js/main.js" charset='utf-8'></script>

</body>
</html>