<extend name="template/temp" />
<block name="content">
    <div class="page" id="objection">

        <form method="post">
            <div class="list-block">

                <div class="article">
                    <div class="hd">
                        <h1 class="page_title">意见建议</h1>
                    </div>
                </div>
                <ul>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-comment"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">建议：</div>
                                <div class="item-input">
                                    <textarea placeholder="请写下您的建议" name="ncontent"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <button type="submit" class="button button-big button-fill button-success" style="width: 100%">提交</button>
            </div>
        </form>

    </div>
</block>
