<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北流微信商业中心</title>
    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/bootstrap/css/bootstrap-theme.min.css" %}
    {% style "/css/main.css" %}
</head>
<body>
    <div class="wel-container">
        <span class="wel-logo"></span>
        <div class="wel-intro">北流微信商业中心</div>
        <div class="wel-btn-group">
            <button class="btn btn-primary btn-block">免费开微店</button>
            <button class="btn btn-default btn-block">免费发广告</button>
        </div>
        <p class="wel-text">诚挚欢迎思想赶得上时代的商家加入</p>
    </div>
</body>
</html>




