<extend name="template/temp" />
<block name="content">
    <div class="page" id="activityInfo">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="yspanel">
                <div class="banner-header-imgbox">
                    <img src="{$info['piclist'][0]}"
                         class="showimglist"
                         data-imglist="<?php echo implode(',',$info['piclist']);?>"
                         alt="" style="width: 100%">

                </div>
                <div class="yspanel-content-box">
                    <div class="activity-box">
                        <div class="activity-title-box">
                            <h3>{$info['name']}</h3>
                            <div class="chashi">——{$info['shopname']}</div>
                        </div>
                        <div class="activity-lefttime-box">
                            <span class="label">剩余时间:</span>
                            <span class="countdownbox">{$info['lefttime']}小时</span>
                        </div>

                        <div class="row activity-btngroup">
                            <div class="col-50">
                                <a class="activity-btn share" id="shareBtn" href="#"><i class="iconfont">&#xe609;</i>分享</a>
                            </div>
                            <div class="col-50">
                                <if condition="$info['isLike']">
                                    <a class="activity-btn like" href="javascript:;" data-id="{$info['id']}">
                                        <i class="iconfont">&#xe60c;</i>喜欢
                                        <span>({$info['likecount']})</span>
                                    </a>
                                    <else/>
                                    <a class="activity-btn like likebtn" href="javascript:;" data-id="{$info['id']}">
                                        <i class="iconfont">&#xe608;</i>喜欢(<span>{$info['likecount']}</span>)
                                    </a>
                                </if>

                            </div>
                        </div>
                        <div class="activity-intro">
                            {$info['intro']}
                        </div>
                    </div>
                    <div class="activity-goodslist-box">
                        <h3 class="green-text">活动特惠商品</h3>
                        <empty name="goodsList">
                            <div class="text-center margin-top30 gray-text">没有活动商品</div>
                            <else/>
                            <volist name="goodsList" id="goodsinfo">
                                <div class="activity-goods-box flex">
                                    <img class="activity-goods-img" src="{$goodsinfo['piclist']}" />
                                    <div class="activity-goods-infobox flex-1">
                                        <h3>{$goodsinfo['name']}</h3>
                                        <div class="price">价格：<span class="price-value">{$goodsinfo['price']}</span></div>
                                        <div class="gray-text text-line3 intro">{$goodsinfo['intro']}</div>
                                    </div>
                                </div>
                            </volist>
                        </empty>

                    </div>

                </div>

            </div>

            <script>
                var shareIntro = "{$share.intro}";
                var shareTitle = "{$share.title}";
            </script>

            <div class="fixbtnbox">
                <a class="fixbtn showMenu" href="#"><i class="iconfont">&#xe602;</i></a>
            </div>

            <div class="mask hide">
                <div class="text-nomal-box text-center">
                    <img src="__PUBLIC__/images/jiantou.png" class="share-jiantou"><br>
                    点击右上角的菜单<br>
                    选择分享朋友圈或者分享给朋友
                </div>
            </div>

            <p class="gray-text1 text-center small-text margin-top30">
                <a href="{:UC('Public/showMa')}" id="telmebtn">关注我们</a>将获得北流更多优惠信息
            </p>
        </div>
    </div>
</block>