<extend name="template/temp" />
<block name="content">
    <div class="page" id="hotActivityGoodsList2">
        <div class="content native-scroll pull-to-refresh-content infinite-scroll" data-distance="450">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="hot-activity-box">
                <p class="gray-text1 text-center">{$pageTitle}</p>

                <empty name="list">
                    <div class="text-center margin-top30 gray-text no-goods">这个板块目前还没有商品哦，赶紧上架抢在最前面！</div>
                    <else/>
                    <div class="activity-goods-list">
                        <volist name="list" id="info">
                            <div class="activity-panel goods-item glist">
                                <a href="{:UC('Activity/hotActivityGoodsInfo',array('id'=>$info['id']))}" class="lk activity-content">
                                    <img class="activity-goods-img2 im" src="{$info['imgUrl']}" />
                                    <h3 class="activity-panel-title text-line2 nn">{$info['name']}</h3>
                                    <div class="activity-panel-price">
                                        特价:<span class="pp red-text">{$info['price']}</span>
                                        <div class="remove-text"><span class="op">{$info['original_price']}</span></div>
                                    </div>
                                </a>
                                <div class="acactivity-goods-btns">
                                    <div class="activity-goods-btn">
                                        <a class="activity-btn like likebtn lb" href="javascript:;" data-id="{$info['id']}">
                                            <i class="iconfont">&#xe608;</i>喜欢(<span>{$info['likecount']}</span>)
                                        </a>
                                    </div>
                                </div>

                                <div class="activity-shopname gray-text2"><span class="sn">{$info['shopName']}</span></div>
                            </div>
                        </volist>
                    </div>
                </empty>

            </div>

            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>

        </div>
        <div class="fixbtnbox">
            <a class="fixbtn showMenu" href="#"><i class="iconfont">&#xe602;</i></a>
        </div>
    </div>
</block>