<extend name="template/temp" />
<block name="content">
    <div class="page" id="hotActivityGoodsList">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="hot-activity-box">
                <p class="gray-text1 text-center">{$pageTitle}</p>

                <empty name="list">
                    <div class="text-center margin-top30 gray-text">这个板块目前还没有商品哦，赶紧上架抢在最前面！</div>
                    <else/>
                    <volist name="list" id="info">
                        <div class="activity-goods-box flex" style="padding: 10px;">
                            <a href="{:UC('Activity/hotActivityGoodsInfo',array('id'=>$info['id']))}"><img class="activity-goods-img" src="{$info['imgUrl']}" /></a>
                            <div class="activity-goods-infobox flex-1">
                                <a href="{:UC('Activity/hotActivityGoodsInfo',array('id'=>$info['id']) )}" class="black-text"><h3 class="text-line2 new-activity-title-box">{$info['name']}</h3></a>
                                <div class="price" style="margin-top: -5px;">
                                    优惠价格：<span class="price-value">{$info['price']}</span>
                                </div>
                                <div class="activity-goods-btns">
                                    <div class="activity-goods-btn">
                                        <a class="activity-btn like likebtn" href="javascript:;" data-id="{$info['id']}">
                                            <i class="iconfont">&#xe608;</i>喜欢(<span>{$info['likecount']}</span>)
                                        </a>
                                    </div>
                                </div>
                                <div class="activity-shopname gray-text2">来自：<span class="red-text">{$info['shopName']}</span></div>
                            </div>
                        </div>
                    </volist>
                </empty>

            </div>



            <p class="gray-text1 text-center small-text margin-top30">
                如果您的店铺也想参与店铺，就点击<a href="{:UC('Shop/index')}" external>立即开店</a>吧。
            </p>
        </div>
        <div class="fixbtnbox">
            <a class="fixbtn showMenu" href="#"><i class="iconfont">&#xe602;</i></a>
        </div>
    </div>
</block>