<extend name="template/temp" />
<block name="content">
    <div class="page" id="hotActivityGoodsInfo">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="yspanel">
                <div class="banner-header-imgbox">
                    <img data-original="{$info['piclist'][0]}"
                         class="lazy showimglist"
                         data-imglist="<?php echo implode(',',$info['piclist']);?>"
                         alt="" style="width: 100%">

                </div>
                <div class="yspanel-content-box" style="padding-bottom: 30px;">
                    <div class="activity-box">
                        <div class="activity-title-box">
                            <h3>{$info['name']}</h3>
                            <div class="chashi">——{$info['shopName']}</div>
                        </div>

                        <div class="activity-descBox">
                            {$info['intro']}<br>
                            好东西别忘了分享给朋友，点击右上角菜单，选择“分享到朋友圈”，或者“分享给朋友”。
                        </div>

                        <div class="row activity-btngroup">
                            <div class="col-50">
                                <a class="activity-btn weui_btn_primary" href="tel:{$info['phone']}"><i class="iconfont">&#xe606;</i>电话</a>
                            </div>
                            <div class="col-50">
                                <if condition="$info['isLike']">
                                    <a class="activity-btn like" href="javascript:;" data-id="{$info['id']}">
                                        <i class="iconfont">&#xe60c;</i>喜欢
                                        <span>({$info['likecount']})</span>
                                    </a>
                                    <else/>
                                    <a class="activity-btn like likebtn" href="javascript:;" data-id="{$info['id']}">
                                        <i class="iconfont">&#xe608;</i>喜欢(<span>{$info['likecount']}</span>)
                                    </a>
                                </if>
                            </div>
                        </div>

                        <div class="address-box" style="margin-top: 10px;">
                            地址：{$info['address']}
                            <if condition="$info['lat'] and $info['lng']">
                                <a href="javascript:;"
                                   class="pull-right lookmap"
                                   data-lat="{$info['lat']}"
                                   data-lng="{$info['lng']}"
                                   data-name="{$info['shopName']}"
                                   data-address="{$info['address']}">
                                    查看地图
                                </a>
                            </if>
                        </div>
                    </div>


                </div>

            </div>

            <script>
                var shareIntro = "{$share.intro}";
                var shareTitle = "{$share.title}";
            </script>


            <p class="gray-text1 text-center small-text margin-top30">
                <a href="{:UC('Public/showMa')}" id="telmebtn">关注我们</a>将获得北流更多优惠信息
            </p>
        </div>

        <div class="fixbtnbox">
            <a class="fixbtn showMenu" href="#"><i class="iconfont">&#xe602;</i></a>
        </div>
    </div>
</block>