<extend name="template/temp" />
<block name="content">
    <div class="page" id="activityList">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="hot-activity-box">
                <div class="activity-banner">
                    <img src="__PUBLIC__/images/banner.png">
                </div>

                <div class="activity-goods-box flex" style="padding: 10px;">
                    <a href="{:UC('Activity/hotActivityGoodsInfo')}"><img class="activity-goods-img" src="__PUBLIC__/images/caomei.jpg" /></a>
                    <div class="activity-goods-infobox flex-1">
                        <a href="{:UC('Activity/hotActivityGoodsInfo')}" class="black-text"><h3 class="text-line2">草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草草莓草莓草莓草莓</h3></a>
                        <div class="price" style="margin-top: -5px;">
                            优惠价格：<span class="price-value">20元/斤</span>
                        </div>
                        <div class="activity-goods-btns">
                            <div class="activity-goods-btn">50人喜欢</div>
                        </div>
                        <div class="activity-shopname gray-text2">来自：<span class="red-text">百汇超市</span></div>
                    </div>
                </div>
                <a class="activity-goods-box flex" style="padding: 10px;background: #fff">
                    <img class="activity-goods-img" src="__PUBLIC__/images/caomei.jpg" />
                    <div class="activity-goods-infobox flex-1">
                        <h3 class="text-line2">草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草草莓草莓草莓草莓</h3>
                        <div class="price" style="margin-top: -5px;">
                            优惠价格：<span class="price-value">20元/斤</span>
                        </div>
                        <div class="activity-goods-btns">
                            <div class="activity-goods-btn">50人喜欢</div>
                        </div>
                        <div class="activity-shopname gray-text2">来自：百汇超市</div>
                    </div>
                </a>
                <a class="activity-goods-box flex" style="padding: 10px;">
                    <img class="activity-goods-img" src="__PUBLIC__/images/caomei.jpg" />
                    <div class="activity-goods-infobox flex-1">
                        <h3 class="text-line2">草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草草莓草莓草莓草莓</h3>
                        <div class="price" style="margin-top: -5px;">
                            优惠价格：<span class="price-value">20元/斤</span>
                        </div>
                        <div class="activity-goods-btns">
                            <div class="activity-goods-btn">50人喜欢</div>
                        </div>
                        <div class="activity-shopname gray-text2">来自：百汇超市</div>
                    </div>
                </a>
                <a class="activity-goods-box flex" style="padding: 10px;">
                    <img class="activity-goods-img" src="__PUBLIC__/images/caomei.jpg" />
                    <div class="activity-goods-infobox flex-1">
                        <h3 class="text-line2">草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草莓草草莓草莓草莓草莓</h3>
                        <div class="price" style="margin-top: -5px;">
                            优惠价格：<span class="price-value">20元/斤</span>
                        </div>
                        <div class="activity-goods-btns">
                            <div class="activity-goods-btn">50人喜欢</div>
                        </div>
                        <div class="activity-shopname gray-text2">来自：百汇超市</div>
                    </div>
                </a>
            </div>



            <p class="gray-text1 text-center small-text margin-top30">
                如果您的店铺也想参与店铺，就点击<a href="{:UC('Shop/index')}" external>立即开店</a>吧。
            </p>
        </div>
        <div class="fixbtnbox">
            <a class="fixbtn showMenu" href="#"><i class="iconfont">&#xe602;</i></a>
        </div>
    </div>
</block>