<extend name="template/temp" />
<block name="content">
    <div class="page" id="activityList">
        <div class="content native-scroll pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <p class="gray-text1 text-center">{$pageTitle}</p>
            <volist name="list" id="info">
                <div class="yspanel margin-top30">
                    <a href="{:UC('Activity/activityInfo',array('id'=>$info['id']))}">
                        <div class="yspanel-titlebox flex">
                            <div class="flex-1">
                                {$info['shopname']}
                                <span class="pull-right small-text
                                <?php if($info['status'] == 1){
                                    echo 'orange-text';
                                } else{
                                    echo 'gray-text';
                                } ?>">
                                {$info['status_msg']}
                                </span>
                            </div>
                        </div>
                        <div class="yspanel-image-box">
                            <div class="yspanel-image-textbox">- <span class="text">{$info['name']}</span> -</div>
                            <if condition="$info['piclist']">
                                <img class="yspanel-image-image" src="{$info['piclist']}">
                                <else/>
                                <img class="yspanel-image-image" src="__PUBLIC__/upload/abd2ac815505109fc8102326b7677037.png">
                            </if>
                        </div>
                        <div class="yspanel-content-box text-line3">
                            {$info['intro']|strip_tags}
                        </div>
                    </a>
                    <div class="yspanel-content-box2">
                        <div class="yspanel-ysbtnlist flex">
                            <div class="flex-1">
                                <if condition="$info['isLike']">
                                    <a class="ysbtn hover" data-id="{$info['id']}"><i class="iconfont" style="font-size: 18px;">&#xe608;</i> <span>{$info['likecount']}</span></a>
                                    <else/>
                                    <a class="ysbtn likebtn" data-id="{$info['id']}"><i class="iconfont" style="font-size: 18px;">&#xe608;</i> <span>{$info['likecount']}</span></a>
                                </if>
                            </div>
                        </div>
                        <if condition="$info['status'] eq 1">
                            <div class="left-time-box">
                                <span class="label">剩余时间:</span>
                                <span class="countdown">{$info['leftTime']}小时</span>
                            </div>
                            <else/>
                            <div class="left-time-box">
                                <span>{$info['status_msg']}({$info['stime']|formatDate})</span>
                            </div>
                        </if>

                    </div>
                    <div class="yspanel-footer gray-text1 flex">
                        <div class="flex-1">{$info['address']}</div>
                        <if condition="$info['lat'] and $info['lng']">
                            <a class="lookmap" href="javascript:;"
                               data-lat="{$info['lat']}"
                               data-lng="{$info['lng']}"
                               data-name="{$info['name']}"
                               data-address="{$info['address']}">查看地图</a>
                        </if>
                    </div>
                </div>
            </volist>

            <p class="gray-text1 text-center small-text margin-top30">

            </p>
        </div>
    </div>
</block>