<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北流商业平台</title>
    <link href="__PUBLIC__/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app.css">
    <block name="css"></block>
</head>

<body>
    <block name="content"></block>


    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <block name="script"></block>
</body>
</html>