<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>店多多</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/SUI-Mobile/dist/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css?v={$rannum}">


</head>
<body>

<div class="modal loading modal-in" id="loadingBox" style="display: block; margin-top: -39px; margin-left: -34px;">
    <i class="iconfont am-icon-spinner am-icon-pulse" style="font-size: 36px;">&#xe613;</i>
</div>

<div class="page-group">
    <block name="content"></block>
</div>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=56290858" charset="UTF-8"></script>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="__PUBLIC__/js/template.js"></script>
<script src="__PUBLIC__/js/validator.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/lazyload.min.js"></script>
<script>
    domain = "__ROOT__";
</script>
<if condition="$jsConfig">
    <script>
        jsConfig = {$jsConfig};
    </script>
</if>

<script type='text/javascript' src="__PUBLIC__/js/app.js?v={$rannum}" charset='utf-8'></script>
</body>
</html>