/*              Global            */
body{background: #eee;  }
*{font-family: "微软雅黑";}
*,
*:before,
*:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
a{color: #000; text-decoration: none;}
a:hover, a:focus { background:rgba(0,0,0,0.1);background:#000\9;filter:alpha(opacity=20)\9;}
/*              Common            */
.pull-left{ float: left !important;}
.pull-right{float: right !important;}
.margin-top{margin-top: 10px;}
.margin-left{margin-left: 10px;}
.margin-bottom{margin-bottom: 10px;}
.margin-right{margin-right: 10px;}

.text-center{text-align: center;}

.flex-box{display: table;width: 100%;}
.flex-row{display:table-row;}
.flex-item{display:table-cell;}

.yscontainer{background: #fff;width: 100%;}
.yscontainer.red{background: red;}

.other-msg{font-size: 12px; color: #666;}
.primary-msg{font-size: 18px; color: red;}
.default-msg{font-size: 14px; color: #333;}

.primary-text{color: red;}
.info-text{color:orange;}
.success-text{color: #3e8f3e;}

/*              Loading            */
.loading{position: absolute; width: 100%; text-align: center; top: 200px; z-index: 5;}


/*              Panel            */
.panel{width: 100%;background: #fff;}
.panel-title{padding: 10px 10px; border-bottom: 1px solid #ccc; color: #333; font-size: 16px;}
.panel-title-more{float: right; font-size: 12px; color: #555;}
.panel-title-other{ font-size: 12px; color: #555;}


/*              Navbar            */
.navbarr{position: fixed; padding: 0 5px; top: 0;color: #fff; z-index: 50;}
.navbarr > a{padding: 10px; display: inline-block;color: #fff;}
.navbarr-title{line-height: 40px;text-align: center;display: inline-block;width: 100%;}
.navbarr-back{position: absolute;}
.navbarr-more{position: absolute; margin-left: -30px;}


/*              Fastmenu            */
.fastmenu{padding: 0;}
.fastmenu-item{text-align: center;font-size: 12px;padding: 10px 0;}
.fastmenu-item i{font-size: 20px;color: red;}


/*              Famousshop            */
.famousshop{width: 100%; overflow: hidden;white-space:nowrap;}
.famousshop-item{padding: 15px 0; border-left: solid 1px #ccc; border-bottom: solid 1px #ccc; text-align: center; font-size: 12px; line-height: 20px;}
.famousshop-img{max-height: 70px;}
.famousshop-ctrl{ font-size: 10px; text-align: center; width: 100%; color: red; margin-top: -15px;}
.swiper-wrapper{width: 100%;}
.swiper-pagination-bullet{display: inline-block; width: 10px; height: 10px; border-radius: 10px; border: solid 1px red; margin-left: 5px;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background: red;}

/*              list            */
.list{}
.list-item{display: block; padding: 10px; border-bottom: 1px solid #ccc;}
.list-item-img{float: left; width: 100px; height: 80px;}
.list-item-text{font-size: 14px;}

.list-item-infobox{margin-left: 110px; height: 80px;}
.list-item-infobox .title, .list-item-infobox > p{margin: 0;}
.list-item-infobox .title > .local{ float: right; font-size: 10px; color: #666;}
.list-item-infobox .desc{font-size: 14px; color: #666;line-height: 15px; height: 30px;}
.list-item-infobox .price{ color: red; font-size: 20px;}
.list-item-infobox .morebox{ margin-top: 10px; font-size: 12px;color: #666; line-height: 30px;}
.list-item-infobox .oldprice{color: #aaa; font-size: 12px; text-decoration: line-through;}
.list-item-infobox .likenum{}


/*              Categorybox            */
.categorybox{}
.categorybox-item{ text-align: center; padding: 10px 0; font-size: 14px; border-right: solid 1px #eee;border-bottom: solid 1px #eee;}
.categorybox-item.current{color: red;}


/*              Categorydetailbox            */
.categorydetailbox{z-index: 8;position: absolute;}
.categorydetailbox-left{width: 50%; display: inline-block;}
.categorydetailbox-right{width: 50%; display: inline-block; background: #ddd;}
.categorydetailbox-item{display: block; padding: 10px; font-size: 14px;}


/*              Mask            */
.mask{position: fixed; z-index: 1; background:rgba(0,0,0,0.5);background:#000\9;filter:alpha(opacity=20)\9; width: 100%; height: 100%;}


/*              Shopbanner          */
.shopbanner{ height: 240px; overflow: hidden; display: block;}
.shopbanner > img{width: 100%;}
.piccount{position: absolute; margin-left: -50px; margin-top:5px; color: #fff; background:rgba(0,0,0,0.5);background:#000\9;filter:alpha(opacity=20)\9;font-size: 12px; padding: 5px 10px; }


/*              InfoBox          */
.infobox-item{font-size: 14px;}
.inline-btn{display: inline-block; float: left; color: red;}
.inline-value{margin-left: 20px;}


/*              Goods          */
.goodsbtn{width: 100%;}


/*              Usercenter            */
.usercenter-banner{height: 150px; background: #d43f3a;}
.usercenter-userinfo{text-align: center; color: #fff; padding-top: 45px;}
.usercenter-banner img{width: 50px; height: 50px; border-radius: 50px;}
.donetask{background-color: #67b168; padding: 0 5px; border-radius: 5px;}


/*              searchbox           */
.searchbox{}
.search-field{ display: table; border-collapse:collapse;}
.search-input{ display: table-cell; width: 100%; padding: 7px 12px;}
.input-group-btn{display: table-cell; width: 1%; vertical-align: middle;}
.search-btn{ padding: 6px 12px; margin-left: -2px; width: 80px;}
.searchbox{padding: 10px; border-bottom: 1px solid #ccc;}
.searchbox-title{color: #666; font-size: 14px;}
.searchbox-list{}
.searchbox-tag{display: inline-block; background: #fff; padding: 10px 20px; margin-right: 15px; margin-top: 10px; font-size: 12px;}



/*              Footer            */
.footer{width: 100%; text-align: center; position: fixed; bottom: 0; background: #fff; border-top: 1px solid #ccc; z-index: 50;}
.footer-item{ padding: 10px 0; font-size: 12px; color: #444;}
.footer-item i{font-size: 20px;}
.footer-item.current{color: red;}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
.spin{-webkit-animation: am-spin 2s infinite linear; animation: am-spin 2s infinite linear;}
/* Spin */
@-webkit-keyframes am-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes am-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/*              scroll-wrapper           */
.scroll-wrapper{position: absolute; width: 100%;height: 100%; overflow: hidden;}
.scroller{padding: 40px 0 65px 0;position: absolute;width: 100%;-webkit-transform:translate3d(0,0,0);}



.testblock{width: 100%; height: 300px;}
.testblock.red{background: red;}
.testblock.yellow{background: yellow;}