*{font-family: "微软雅黑";}
body{background: #eee}
.margin-top{margin-top: 10px;}
.margin-left{margin-left: 10px;}
.margin-header{margin-top: 50px;}
.margin-footer{margin-bottom: 50px;}

/***************  layout  *******************/
.flex-container{
    width:100%;
    display:table;
}
.flexbox{
    width:100%;
    display:table-row;
}
.flex-item{
    display:table-cell;
}

/***************  header  *******************/
header{
    width: 100%;
    line-height: 50px;
    position: fixed;
    top: 0;
    z-index: 5;
    background:rgba(255,0,0,1);background:#000\9;filter:alpha(opacity=20)\9;
    text-align: center;
}
header a {
    height: 100%;
    width: 50px;
    color: #fff;
    position: absolute;
}
.back-btn{
    left: 0;
}
.right-btn{
    right: 0;
}
.page-title{
    display: inline-block;
    margin: 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size:cover;
    background-position:50%;
    -webkit-filter:blur(50px);
    z-index: -1;
}
/***************  footer  *******************/
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}


/***************  banner  *******************/
.banner{
    background: url(../images/bg.png);
    padding: 30px 10px;
    position: relative;
    margin-bottom: 15px;
    height: 200px;
}
.head-info{
    position: absolute;
    top: 70px;
}
.banner-head{
    width: 50px;
    height: 50px;
    float: left;
}
.banner-text{
    margin-left: 5px;
    color: #fff;
    line-height: 50px;
    padding: 0 5px 0 5px;
    background:rgba(0,0,0,.2);background:#000\9;filter:alpha(opacity=20)\9;
    border-radius: 5px;
}
.other-info{
     position: absolute;
     display: block;
     bottom: 10px;
     right: 10px;
     background:rgba(0,0,0,.2);background:#000\9;filter:alpha(opacity=20)\9;
     padding: 5px;
     color: #fff;
     border-radius: 5px;
    font-size: 12px;
 }
.other-info:hover{
    color: red;
    text-decoration: none;
}
.tools-info{
    position: absolute;
    right: 20px;
    top: 60px;
}
.tools-info a {
    font-size: 16px;
    color: #333;
}



/***************  btn-group  *******************/
.home-btn-group{
    text-align: center;
}
.home-btn-group > a{
    color: #111;
    line-height: 50px;
}
.home-btn-group > a:hover{
    background: #ccc;
}


/***************  影响力页面  *******************/
.yingxiangli-banner{
    background: red;
    height: 350px;
    position: relative;
}
.yingxiangli-score{
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 80px;
    position: absolute;
    top: 90px;
}
.yingxiangli-fen{
    position: absolute;
    font-size: 16px;
    vertical-align: bottom;
}
.yingxiangli-desc{
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    width: 100%;
    color: #fff;
}
.yingxiangli-beat strong{
    color: yellow;
}
.yingxiangli-up strong{
    color: green;
}

/*********  help page  ************/
.help-box{
    margin-top: 60px;
}


/*********  nearshop page  ************/

.shop-item{
    overflow: hidden;
}
.shop-item-img{
    width: 30px;
    height: 30px;
    float: left;
}
.shop-item-info{
    margin-left: 50px;
}
.shop-item-info > .title{
    font-size: 14px;
    font-weight: bolder;
}
.shop-item-info > .info strong{
    color: green;
}
.shop-item-info > .info{
    line-height: 14px;
}
.shop-item-score{
    background: orange;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    z-index: 1;
}



/*********  goods page  ************/
.goods-pic-box{
    margin-top: 80px;
}
.goods-desc{
    margin-top: 25px;
    height: 108px;
    background:rgba(0,0,0,.2);background:#000\9;filter:alpha(opacity=20)\9;
    color: #fff;
    padding: 10px;
    overflow-y: scroll;
}
.goods-tools-box{
    margin-top: 30px;
}
.goods-tools-box a{
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.goods-tools-box a:hover{
    color: #f00;
}
.goods-price{
    margin-top: 25px;
    background:rgba(0,0,0,.2);background:#000\9;filter:alpha(opacity=20)\9;
    text-align: center;
    padding: 5px;
}

/*********  pinglun page  ************/
.pinglun-goods-detail{
    display: block;
    color: #111;
    padding: 10px;
    background: #fff;
}
.pinglun-goods-detail:hover{
    background: #aaa;
}
.pinglun-goods-detail > img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.pinglun-goods-detail > h5{
    display: inline-block;
}
.pinglun-goods-detail > span{
    line-height: 50px;
}
.commentbox{
    margin-top: 20px;
}
.comment-item{
    background: #fff;
    display: block;
    padding: 5px;
    color: #000;
}
.comment-item > img{
    width: 40px;
    height: 40px;
    float: left;
}
.comment-item > div{
    margin-left: 50px;
    display: block;
}
.comment-time{
    font-size: 12px;
    color: #555;
}
.comment-author{
    margin-bottom: 0;
    font-size: 12px;
}
.pinglun-edit{
    position: fixed;
    bottom: 0;
}
.editform{
    margin-top: 10px;
}
.edit-item{
    line-height: 30px;
    font-size: 12px;
    color: #555;
}
.edit-desc{
    margin-left: 60px;
}
.edit-uploadimgbox{
    display: block;
    position: relative;
    max-height: 200px;
    overflow: hidden;
}
.edit-uploadimg{
    margin-top: 5px;
    width: 100%;
}
.edit-uploadimg-del{
    display: block;
    position: absolute;
    margin-top: 5px;
    z-index: 55;
    background:rgba(0,0,0,.3);background:#000\9;filter:alpha(opacity=20)\9;
    color: #fff;
    padding: 0 5px;
}
.edit-icon{
    font-size: 14px;
    color: #fff;
    position: absolute;
    margin-left: -65%;
    margin-top: 25%;
    background:rgba(0,0,0,.3);background:#000\9;filter:alpha(opacity=20)\9;
    padding: 10px;
}
.edit-value{
    text-align: right;
    margin-left: 40px;
}
.edit-value img{
    width: 30px;
    height: 30px;
}
.edit-value.textbox{
    line-height: 20px;
    font-size: 12px;
}
.edit-key{
    float: left;
}

.shop-goods-item{
    padding: 0;
    margin-bottom: 5px;
    height: 101px;
}
.shop-goods-img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.shop-goods-score{
    position: absolute;
    right: 0;
    top: 0;
    background: orange;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background:rgba(255,0,0,0.5);background:#000\9;filter:alpha(opacity=20)\9;
}
.shop-goods-info .title{
    font-weight: bolder;
}
.shop-goods-info .visitestate{
    font-size: 12px;
    margin-top: 25px;
}
.topshop-item{
    height: 80px;
}
.topshop-item > .topnum{
    background: #ccc;
    display: block;
    float: left;
    margin-top: -10px;
    margin-left: -15px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
}

.topshop-item > .yingxiang{
    position: absolute;
    margin-top: -11px;
    right: 0;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    background:rgba(0,0,0,0.3);background:#000\9;filter:alpha(opacity=20)\9;
}
.topshop-item > .topnum.first{
    background: orange;
}
.topshop-item > .topnum.second{
    background: yellow;
}
.topshop-item > .topnum.third{
    background: green;
}
.topshop-item > h4{
    display: inline-block;
    margin-left: 10px;
}
.topshop-item .other-msg{
    font-size: 12px;
    color: #666;
}

.goodslist{
    margin-top: 10px;
    line-height: 0;
}
.gooditem{
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
}
.gooditem > .caption{
    padding: 0;
}
.gooditem > .caption > h6{
    margin: 10px 0 0 0;
    height: 25px;
    overflow: hidden;
}
.gooditem > .caption > p{
    margin-bottom: 3px;
    color: red;
}
.gooditem > .caption > p > small{
    color: #aaa;
    float: right;
}

.loading{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
}

.index-case{
    color: #666;
    text-align: center;
}
.index-case > .glyphicon{
    font-size: 20px;
}